<div class="container-fluid">
  <div class="row" *ngIf="isLoading">
    <div style="position:absolute; top:50%; left:50%; height:50%; margin-top:-148px; margin-left:-148px;">
      <img src="assets/img/general/loader.gif" alt="Cargando ..." />
    </div>
  </div>
  <div class="row no-results" *ngIf="!isLoading && fullList.length == 0">
    <p class="text-center">
      Lo sentimos, no hay resultados<br>que mostrar.
    </p>
  </div>
  <div class="row" *ngIf="fullList.length > 0">
      <div class="title" style="padding: 15px;font-weight: 300;font-size: 15px;">
          <div class="textFilter">Revise el estatus de sus aclaraciones:</div>
          <div class="tooltipButton"  (click)="tooltipOpener($event)"></div>
      </div>

    <div class="moves-container">
      <ul class="moves-list">
        <ng-container *ngFor="let item of fullList">
          <li class="move-box date">
            <div class="icon"><span></span></div>
            <div class="content history">
              {{ formatTitle(item.date) }}
            </div>
          </li>
          <li class="history-box" *ngFor="let move of item.list" [ngClass]="move.codeClass">
            <div class="content">
              <div class="half-circle"><span></span></div>
              <div class="container">
                <div class="row">
                  <div class="col-xs-5">
                    <div class="title">No. Folio</div>
                    <div class="highlight">{{ move.IncidentID }}</div>
                  </div>
                  <div class="col-xs-5">
                    <div class="title">Estatus</div>
                    <div class="special">{{ move.status }}</div>
                  </div>
                  <div class="col-xs-2 right">
                      <span id="arrow{{ move.IncidentID }}" class="arrowDownSelect" (click)="toggleItem(move.IncidentID, move.IncidentID)"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sub-content" [ngClass]="{'active': checkIfSelected(move.IncidentID)}">
              <div class="container">
                <div class="row">
                  <div class="col-xs-8 history-right">
                    <div class="text-block" *ngIf="move.Category">
                      <div class="title">Categoría</div>
                      <p>{{ move.Category }}</p>
                    </div>
                    <div class="text-block" *ngIf="move.Subcategory">
                      <div class="title">Subcategoría</div>
                      <p>{{ move.Subcategory }}</p>
                    </div>
                    <div class="text-block" *ngIf="move.CauseCode">
                      <div class="title">Resolución final</div>
                      <span class="heavy">{{ move.CauseCode }}</span>
                    </div>
                  </div>
                  <div class="col-xs-4 history-left separator">
                    <div class="text-block" *ngIf="move.OpenTime != ''">
                      <div class="title">Fecha de alta</div>
                      <p>{{ move.OpenTime }}</p>
                    </div>
                    <div class="text-block" *ngIf="move.FechaCompromiso && move.CoseTime == ''">
                      <div class="title">Fecha compromiso</div>
                      <p>{{ move.FechaCompromiso }}</p>
                    </div>
                    <div class="text-block" *ngIf="move.CoseTime != ''">
                      <div class="title">Fecha de cierre</div>
                      <p>{{ move.CoseTime }}</p>
                    </div>
                    <div class="text-block" *ngIf="move.Numero3">
                      <div class="title">Importe</div>
                      <span class="amount">{{ move.Numero3 | currency:'USD':true:'1.2-2' }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="row footer-block" *ngIf="!isLoading">
    <div class="col-sm-12">
      <p>
        Si tiene alguna duda con su aclaración puede comunicarse a <span class="superlinea">Super<strong>Línea</strong></span> a los siguientes números:
      </p>
      <div class="spacer"></div>
      <p>
        <span>CDMX y Zona metropolitana</span>
        <strong>5169 4300</strong>
      </p>
      <p>
        <span>Del Interior de la República</span>
        <strong>01 800 50 10000</strong>
      </p>
    </div>
  </div>
</div>
