<div class="container-fluid result">
    <div class="row " style="padding-top:40px;">
        <div class="col-xs-12 text-center lock-img">
            <p class="red-strong" *ngIf="blocker.operationCancellation">Tarjeta bloqueada definitivamente.</p>
            <p class="red-strong" *ngIf="!blocker.operationCancellation">La tarjeta no se pudo bloquear.</p>
            <p class="lock-text"style="padding-top:45px;padding-bottom:21px;" *ngIf="blocker.operationCancellation && blocker.operationReposition" >
                La tarjeta con terminación <span class="bold"> {{ oldCard }}</span> ha sido <span class="bold">bloqueada definitivamente</span>
                , por lo que hemos iniciado un proceso de reposición.
            </p>
            <p class="lock-text"style="padding-top:45px;padding-bottom:21px;" *ngIf="blocker.operationCancellation && !blocker.operationReposition" >
                    La tarjeta con terminación <span class="bold"> {{ oldCard }}</span> ha sido <span class="bold">bloqueada definitivamente</span>
                </p>
            <p class="lock-text"style="padding-top:45px;padding-bottom:21px;" *ngIf="!blocker.operationCancellation">
                La tarjeta con terminación {{ oldCard }}  <span class="bold">NO ha sido bloqueada definitivamente</span>.
            </p>
            <div class="card cardResultLock" *ngIf="blocker.operationReposition">
                <div class="title">Nuevo número de tarjeta</div>
                <div class="card-number">**** **** **** {{pan}}</div>
            </div>
            <div class="lock-text-strong" style="padding-top:23px;" *ngIf="blocker.operationReposition">
                    Su nueva tarjeta será enviada
                    al domicilio que ha registrado en el banco
                    en un lapso máximo de 10 días hábiles.
            </div>
            <p class="lock-text"style="padding-top:45px;padding-bottom:21px;" *ngIf="!blocker.operationReposition">
                Solicite la <strong>reposición de su tarjeta</strong> en la <span class="superlinea">Super<strong>Línea</strong></span><br/>
                <span> Desde la CDMX y Zona metropolitana</span> <br/>
                <strong>5169 4300</strong><br/>
                <span>Del Interior de la República</span><br/>
                <strong>01 800 50 10000</strong>
            </p>
        </div>
    </div>  
</div>