<!-- Add Spinner -->
<app-spinner *ngIf="spinner"></app-spinner>
<!-- Add Steper -->
<app-steper></app-steper>
<!-- Add Alerts -->
<app-alerts></app-alerts>

<!-- Pleca Superior -->
<div class="plecaSuperior">
    <!-- Tilte -->
    <span>TARJETA</span>
    <!-- Selected Moves -->
    <div class="selectedMoves" (click)="showToggle('selectedMovComp')">
        <span></span>
    </div>
</div>

<!-- Content Dashboard -->
<div class="contentDashboard">
    <!-- Card Component -->
    <app-card></app-card>

    <!-- Search -->
    <div class="searchModule">
        <!-- Input Search -->
        <form>
            <input placeholder="Buscar movimiento..." />
        </form>
        <!-- Filters Button -->
        <div class="filtersButton" (click)="showToggle('filtersComp')"></div>
    </div>

    <!-- Notice -->
    <div class="notice">
        <p>Le informamos que los movimientos que por ahora se pueden aclarar solo son consumos en comercios (compras).</p>
    </div>

    <!-- Content Movements -->
    <div class="movements">
        <ul>
            <li>
                <!-- Left -->
                <div class="leftMov dInlineB">
                    <!-- Icon -->
                    <div class="iconMov">
                        <span></span>
                    </div>
                </div>

                <!-- Right -->
                <div class="rightMov dInlineB">
                    Martes 21 de Noviembre, 2017
                </div>
            </li>
            <li id="identificator1">
                <!-- Left -->
                <div class="leftMov dInlineB"  (click)="clickMove('identificator1')">
                    <!-- Icon -->
                    <div class="iconMov">
                        <span></span>
                    </div>
                </div>
    
                <!-- Right -->
                <div class="rightMov dInlineB"  (click)="clickMove('identificator1')">
                    <!-- Mov Description -->
                    <div class="movDescription dInlineB">NETFLIX</div>
                    <!-- Mov Amount -->
                    <div class="movAmount dInlineB">
                        <span class="amount">900.<span class="cents">00</span><i class="coin">MXN</i></span>
                    </div>
                </div>

                <!-- Bottom -->
                <div class="bottomMov">
                    MOVIMIENTO A ACLARAR
                </div>
            </li>
            <li id="identificator2">
                <!-- Left -->
                <div class="leftMov dInlineB" (click)="clickMove('identificator2')">
                    <!-- Icon -->
                    <div class="iconMov">
                        <span></span>
                    </div>
                </div>
    
                <!-- Right -->
                <div class="rightMov dInlineB" (click)="clickMove('identificator2')">
                    <!-- Mov Description -->
                    <div class="movDescription dInlineB">NETFLIX</div>
                    <!-- Mov Amount -->
                    <div class="movAmount dInlineB">
                        <span class="amount">900.<span class="cents">00</span><i class="coin">MXN</i></span>
                    </div>
                </div>

                <!-- Bottom -->
                <div class="bottomMov">
                    MOVIMIENTO A ACLARAR
                </div>
            </li>
        </ul>
    </div>

</div>
<!-- Termina Content Dashboard -->

<!-- Add Footer -->
<app-footer></app-footer>



<!-- Selected Moves -->
<div id="selectedMovComp" class="contentSelectedMov">

    <!-- Red Header -->
    <div class="redHeader">
        <button class="white medium" (click)="hideToggle('selectedMovComp')">Cerrar X</button>
    </div>

    <!-- Header Filters-->
    <div class="headerSelectedMov">
        <span>Movimientos seleccionados</span>
        <div class="tooltipButton"></div>
    </div>

    <div class="movements">
        <ul>
            <li>
                <!-- Left -->
                <div class="leftMov dInlineB">
                    <!-- Icon -->
                    <div class="iconMov">
                        <span></span>
                    </div>
                </div>
    
                <!-- Right -->
                <div class="rightMov dInlineB">
                    Martes 21 de Noviembre, 2017
                </div>
            </li>
            <li>
                <!-- Left -->
                <div class="leftMov dInlineB">
                    <!-- Icon -->
                    <div class="iconMov">
                        <span></span>
                    </div>
                </div>
        
                <!-- Right -->
                <div class="rightMov dInlineB">
                    <!-- Mov Description -->
                    <div class="movDescription dInlineB">NETFLIX</div>
                    <!-- Mov Amount -->
                    <div class="movAmount dInlineB">
                        <span class="amount">900.<span class="cents">00</span><i class="coin">MXN</i></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<!-- Termina Selected Moves -->

<!-- Content Filters -->
<div id="filtersComp" class="contentFilters dNone">

    <!-- Header Filters-->
    <div class="headerFilters">
        <span>Filtrar movimientos</span>
        <div class="tooltipButton"></div>
    </div>

    <!-- Down Filters -->
    <div class="downFilters">
        <!-- Content -->
        <p>Elije el corte donde se encuentra el movimiento a aclarar.</p>
        
        <!-- Title -->
        <h1 class="black normal sBold"><span class="dInlineB"></span>FILTRAR POR FECHA DE CORTE</h1>
        
        <!-- Filtros -->
        <form>
            <ul>
                <li></li>
            </ul>
        </form>
    
    </div>
    <!-- Termina Down Filters -->

</div>
<!-- Termina Content Filters -->

