<!-- Content Alerts -->
<div class="contentAlerts vAlign">

    <!-- Bloqueo de tarjeta -->
    <div class="bloqueoTarjeta">

        <!-- Icon -->
        <span class="i-icon"></span>
        
        <!-- Title -->
        <h1 class="black medium center pTBMedium">Bloqueo de tarjeta</h1>
        <p class="black medium light center LHSmall pBMedium">
            Para evitar que le sigan haciendo cargos y continuar con la aclaración es necesario llevar a cabo un <span class="bold">Bloqueo Total</span> de su tarjeta.<br /><br />
            Una vez realizado este proceso le haremos llegar el nuevo plástico al domicilio que ha registrado en el banco.<br /><br />
            <span class="bold">Esta acción NO puede revertirse.<br>Tendrá un costo establecido en su contrato.</span> 
        </p>

        <!-- BTN OPTIONS -->
        <ul>
            <li class="dInlineB"><button class="mRed bold medium">Cancelar</button></li>
            <li class="dInlineB"><button class="mRed bold medium">Continuar</button></li>
        </ul>

    </div>

</div>
<!-- Termina Content Alerts -->
