<!-- Card Block -->
<div class="cardBlock">
  <!-- Card -->
  <div class="card">

    <!-- Card Type -->
    <div class="cardType" [innerHTML]="userdata.cardName"></div>
    <!-- Amouth -->
    <div class="amouth" [innerHTML]="userdata.saldo | customCurrency"></div>
    <!-- Footer Card -->
    <div class="footerCard">
        <span class="dInlineB" [innerHTML]="userdata.cardNumber | maskingPan"></span>
    </div>

  </div>
</div>
<!-- Termina card block -->