//Spinner
.spinnerContent{
    width:100%;
    height: 100%;
    position:absolute;
    top:0px;
    left: 0px;
    background-color: $White;
    z-index: 1000;
}

.spinnerCircle{
    width:140px;
    height: 140px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='144px' height='144px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-rolling' style='animation-play-state: running; animation-delay: 0s; background: none;'%3e%3ccircle cx='50' cy='50' fill='none' ng-attr-stroke='%7b%7bconfig.color%7d%7d' ng-attr-stroke-width='%7b%7bconfig.width%7d%7d' ng-attr-r='%7b%7bconfig.radius%7d%7d' ng-attr-stroke-dasharray='%7b%7bconfig.dasharray%7d%7d' stroke='%23ec0000' stroke-width='7' r='35' stroke-dasharray='164.93361431346415 56.97787143782138' transform='rotate(30 50 50)' style='animation-play-state: running; animation-delay: 0s;'%3e%3canimateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 50;360 50 50' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite' style='animation-play-state: running; animation-delay: 0s;'%3e%3c/animateTransform%3e%3c/circle%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
}

//Light Box8
.contentAlerts{
    width:100%;
    height: 100%;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: .8)
}

//Generales
.alertGeneral{
    width:100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
    padding-top: 30px;
    background-color: rgba($color: $White, $alpha: .8);
    border-radius: 20px;

    & span.i-icon{
        width: 70px;
        height: 70px;
        background-color: #0d7aff;
        display: block;
        clear: both;
        position: relative;
        margin-top: 100px;
        margin: auto;
        border-radius: 100px;
        -webkit-box-shadow: 0px 5px 9px -4px rgba(0,0,0,1);
        -moz-box-shadow: 0px 5px 9px -4px rgba(0,0,0,1);
        box-shadow: 0px 5px 9px -4px rgba(0,0,0,1);
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12px' height='36px' viewBox='0 0 12 36' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eFill 2%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='-' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='8_AclaracionesWebView-ModaBloqueoTarjeta_No-interactuó' transform='translate(-182.000000, -173.000000)' fill='%23FFFFFF'%3e%3cg id='Group-2' transform='translate(30.000000, 122.000000)'%3e%3cg id='IcoInfo' transform='translate(122.000000, 32.000000)'%3e%3cpath d='M38.64,51.256 L41.52,51.256 L41.52,54.136 L30,54.136 L30,51.256 L32.88,51.256 L32.88,31.096 L30,31.096 L30,28.216 L38.64,28.216 L38.64,51.256 Z M35.76,19 C37.50852,19 38.928,20.41948 38.928,22.168 C38.928,23.91652 37.50852,25.336 35.76,25.336 C34.01148,25.336 32.592,23.91652 32.592,22.168 C32.592,20.41948 34.01148,19 35.76,19 Z' id='Fill-2'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
    }

    & ul li{
        width:50%;
        padding: 10px 0px 10px 0px;
        border-top: 2px solid $Gray;
        text-align: center;
        
        
        &:last-child{
            margin-left: -5px;
            border-left: 2px solid $Gray;
        }

        &.unique{
            width: 100%;
            border-left:none;
        }
    }

    & .spinnerCircle{
        margin: auto;
        margin-bottom: 20px;
    }
    & button{
        background: none;
        border: none;
    }
}
