.blocker {
  max-width: 315px;
  .col-xs-12{
    padding:0;
  }

  .lock-title{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    color: #2d2d2d;
  }

  .lock-text{
    font-size: 16px;
    font-weight: 300;
    color: #424242;
    
    strong {
      a {
        font-weight: bold;
        color: #424242;
      }
      a:hover,
      a:focus,
      a:active {
        text-decoration: none;
      }
    }
  }
  .bold{
    font-weight: 600;
  }

  .row {
    max-width: 460px;
    margin: 0 auto;
  }

  .title {
    font-size: 1.5em;
    font-weight: bold;
    color: $title-grey;
    display: block;
    padding: 20px 0;
  }

  .relevant {
    font-size: 0.89em;
    color: $black;
    display: block;
  }

  .highlight {
    font-size: 1em;
    padding: 17px 0;
    display: block;
    color: $black;
    font-weight: bold;

    span {
      color: $main-color;
      text-transform: uppercase;
    }
  }

  .instructions {
    display: block;
    padding: 17px 0;
    font-size: 0.89em;
    color: $title-grey;

    strong {
      display: block;
      font-size: 1.11em;
      color: $main-color;
    }
  }

  .auction {
    display: block;
    text-align: center;

    svg {
      cursor: pointer;
    }
  }

  .restrictions {
    font-size: 0.75em;
    color: $title-grey;
    width: 76%;
    margin: 0 auto;
    display: block;
    padding: 17px 0;
  }

  .cancel {
    text-align: center;
    color: #e80004;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
  }
}

strong {
  font-weight: 600;

  span {
    color: $main-color;
  }
}
.modal{
  background-color: rgba(0,0,0,0.75) ;
  height: 100% ;
  width: 100% ;
  .modal-dialog {
    height: 100% ;
    width: 100% ;
    display: flex;  
    align-items: center;
    margin:0 ;
    .modal-content {
      margin: 0 auto;
      background-color: rgba(255,255,255,0.8) ;
      border-radius: 12px ;
    }
  }
}



  
.lock-img{    
  padding-top: 90px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='60px' height='54px' viewBox='0 0 60 54' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eicoTarjetaBloqueda Copy%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='-' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='10_AclaracionesWebView-RespuestaBloqueoTarjeta' transform='translate(-158.000000, -128.000000)' fill='%23C80000'%3e%3cg id='icoTarjetaBloqueda-Copy' transform='translate(158.000000, 128.000000)'%3e%3cpath d='M41.8867925,23.625 C33.7719645,23.625 27.1698113,30.4382316 27.1698113,38.8125 C27.1698113,47.1867684 33.7719645,54 41.8867925,54 C50.0016204,54 56.6037736,47.1867684 56.6037736,38.8125 C56.6037736,30.4382316 50.0016204,23.625 41.8867925,23.625 Z M41.8867925,52.2132353 C34.7266926,52.2132353 28.9012209,46.2015165 28.9012209,38.8125 C28.9012209,31.4234835 34.7266926,25.4117647 41.8867925,25.4117647 C49.0474695,25.4117647 54.872364,31.4234835 54.872364,38.8125 C54.872364,46.2015165 49.0474695,52.2132353 41.8867925,52.2132353 Z M48.962919,31.5101415 C48.624717,31.1611268 48.0770144,31.1611268 47.7388124,31.5101415 L41.8867925,37.5492574 L36.0349168,31.5101415 C35.6972919,31.1611268 35.1488679,31.1611268 34.8106659,31.5101415 C34.4724639,31.8591563 34.4724639,32.425114 34.8106659,32.7733842 L40.6626859,38.8125 L34.8106659,44.8516158 C34.4724639,45.2004816 34.4724639,45.7658438 34.8106659,46.1148585 C34.9797669,46.2893658 35.2012431,46.3766195 35.4227192,46.3766195 C35.6443396,46.3766195 35.8663929,46.2893658 36.0349168,46.1148585 L41.8867925,40.0757426 L47.7388124,46.1148585 C47.9079134,46.2893658 48.1293896,46.3766195 48.3508657,46.3766195 C48.5723418,46.3766195 48.793818,46.2893658 48.962919,46.1148585 C49.301121,45.7658438 49.301121,45.199886 48.962919,44.8516158 L43.1110433,38.8125 L48.962919,32.7733842 C49.301121,32.425114 49.301121,31.8591563 48.962919,31.5101415 Z' id='Combined-Shape'%3e%3c/path%3e%3cpath d='M58.2387519,10.1375933 L1.76124814,10.1375933 L1.76124814,13.6637127 L58.2387519,13.6637127 L58.2387519,10.1375933 Z M58.2387519,8.0806903 L58.2387519,4.64301772 C58.2387519,3.0549417 56.9481973,1.7630597 55.361753,1.7630597 L4.63824697,1.7630597 C3.05180271,1.7630597 1.76124814,3.0549417 1.76124814,4.64301772 L1.76124814,8.0806903 L58.2387519,8.0806903 Z M58.2387519,15.7206157 L1.76124814,15.7206157 L1.76124814,34.7319823 C1.76124814,36.3200583 3.05180271,37.6119403 4.63824697,37.6119403 L23.4248938,37.6119403 C23.9109983,37.6119403 24.3055178,38.0068657 24.3055178,38.4934701 C24.3055178,38.9800746 23.9109983,39.375 23.4248938,39.375 L4.63824697,39.375 C2.08062113,39.375 0,37.2922388 0,34.7319823 L0,4.64301772 C0,2.08276119 2.08062113,0 4.63824697,0 L55.361753,0 C57.9193789,0 60,2.08276119 60,4.64301772 L60,34.7319823 C60,35.2193214 59.6054804,35.6135121 59.1193759,35.6135121 C58.6331247,35.6135121 58.2387519,35.2193214 58.2387519,34.7319823 L58.2387519,15.7206157 Z' id='Combined-Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 72px;
  background-position: center 0;
}

.i-icon{
  width: 70px;
    height: 70px;
    background-color: #0d7aff;
    display: block;
    clear: both;
    position: relative;
    margin-top: 100px;
    margin: auto;
    border-radius: 100px;
    -webkit-box-shadow: 0px 5px 9px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 9px -4px rgba(0,0,0,1);
    box-shadow: 0px 5px 9px -4px rgba(0,0,0,1);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12px' height='36px' viewBox='0 0 12 36' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eFill 2%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='-' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='8_AclaracionesWebView-ModaBloqueoTarjeta_No-interactuó' transform='translate(-182.000000, -173.000000)' fill='%23FFFFFF'%3e%3cg id='Group-2' transform='translate(30.000000, 122.000000)'%3e%3cg id='IcoInfo' transform='translate(122.000000, 32.000000)'%3e%3cpath d='M38.64,51.256 L41.52,51.256 L41.52,54.136 L30,54.136 L30,51.256 L32.88,51.256 L32.88,31.096 L30,31.096 L30,28.216 L38.64,28.216 L38.64,51.256 Z M35.76,19 C37.50852,19 38.928,20.41948 38.928,22.168 C38.928,23.91652 37.50852,25.336 35.76,25.336 C34.01148,25.336 32.592,23.91652 32.592,22.168 C32.592,20.41948 34.01148,19 35.76,19 Z' id='Fill-2'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
}


