.filter-bar {
  font-size: inherit;
  .input-group {
    input.form-control, .input-group-addon {
      border-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      height: 44px;
      font-size: 1em;
    }

    .input-group-addon {
      i.static-width-20 {
        width: 20px;
        color: $light-grey;
        &.fa-2x {
          font-size: 1.9em;
        }
      }
    }
  }
}

.filters {
  width:90%;
  max-width: $general-max-width;
  margin: 20px auto;
  display: block;
  font-weight: 300;
  .title {
    font-size: 1.5em;
  }
  p {
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 22px;
  }
}
