.modal{
  background-color: rgba(0,0,0,0.75);
  .modal-loader, .modal-dialog {
    .modal-content {
      margin: 0 auto;
      background-color: rgba(255,255,255,0.8);
      .loader{
        border-radius: 12px;
      }
    }
  }
}

.loader {
  max-width: 315px;
  text-align: center;

  .title {
    display: block;
    max-width: 213px;
    width: 90%;
    margin: 0 auto;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: $title-grey;
  }

  .image{
    display: block;
    margin: 20px auto 20px auto;
    text-align: center;

    img {
      display: block;
      width: 40%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .caption {
    display: block;
    width: 100%;
    font-size: 0.857em;
    color: $grey;
    margin-bottom: 25px;
  }
}
