@mixin selection-animation {
  .selection-mark {
    animation-name: showMark;
    animation-duration: 1s;
    height: auto;
    padding: 3px 0;
    color: $main-color;
    left: -7px;
    width: calc(100% + 14px);
    top: 24px;
    position: relative;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgray;
    opacity:1;
  }
}

.moves-container {
  width: 100%;
  max-width: $general-max-width;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  clear: both;
  position: relative;

  .moves-header {
    position: absolute;
    top:0;
    left: 0;
    height: $highlilght-circle-height;
    width: 100%;
    background-color: $white;
    z-index: 3;

    .move-box {
      .line {
        top: 50%;
      }
    }
  }

  .moves-list {
    z-index: 2;
    position: relative;
    list-style: none;
    padding: 0;
    width: 100%;

    li:last-child {
      .line {
        height: 40px;
      }
    }

    li:first-child {
      .line {
        top: 30px;
      }
    }

    &.selection-list {
      .move-box {
        &.active {

          .icon {
            background-image: url(#{$img-url}lists/remove.png);
          }
        }
      }
    }
  }

  .history-box {
    width: 100%;
    display: block;
    clear: both;
    padding: 15px 0px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;


    .half-circle {
      width: 15px;
      height: 30px;
      border-top-left-radius: 30px;  /* 100px of height + 10px of border */
      border-bottom-left-radius: 30px; /* 100px of height + 10px of border */
      border: 1px solid $light-main-color;
      border-bottom: 0;
      position: absolute;
      left: 0;
      margin-left: -14px;
      top: 50%;
      margin-top: -15px;
      background-color: $white;
      border-right: 0;

      > span {
        border-radius: 50%;
      	width: 148%;
      	height: 74%;
        position: absolute;
        top: 12%;
        left: 22%;
      }
    }

    .content {
      width: 89%;
      padding: 15px 8px 15px 20px;
      margin-left: 8%;
      position: relative;
      border: 1px solid $light-main-color;

      .title {
        color: $light-grey;
        font-size: 0.6875em;
        line-height: 1.1em;
        text-transform: uppercase;
        display: block;
      }

      .highlight {
        font-size:13px;
        color: $black;
        font-weight: 600;
      }

      .special {
        font-size: 0.938em;
        text-transform: uppercase;
      }

      .right {
        text-align: right;
      }

      i {
        color: $main-color;
        font-weight: 600;
        border: 1px solid $light-main-color;
        width: 30px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        border-radius: 15px;
        text-align: center;
        font-size: 1.5em;
        cursor: pointer;
      }
    }

    .sub-content {

      @extend .content;
      margin-top: 10px;

      height: 0px;
      display: none;

      p {
        font-size: 13px;
      }

      .separator {
        border-left: 1px solid $light-main-color;
      }

      .text-block {
        display: block;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      .heavy {
        font-size: 0.938em;
        font-weight: bold;
        text-transform: uppercase;
      }

      .amount {
        font-size: 1em;
        color: $wine;

        &:before {
          color: $light-grey;
          font-size: 0.875em;
        }
      }

      @include respond-to('big-small'){
        .amount {
          font-size: 1.5em;
          color: $wine;

          &:before {
            color: $light-grey;
            font-size: 0.875em;
          }
        }
      }

      &.active {
        animation-name: showDescription;
        animation-duration: 1s;

        height: auto;
        display: block;
      }
    }

    &.orange {
      .half-circle > span { background-color: $history-orange; }
      .content {
        .special { color: $history-orange; }
      }
      .heavy { color: $history-orange; }
    }

    &.softgreen {
      .half-circle > span { background-color: $history-green; }
      .content {
        .special { color: $history-green; }
      }
      .heavy { color: $history-green; }
    }

    &.grey {
      .half-circle > span { background-color: $history-grey; }
      .content {
        .special { color: $history-grey; }
      }
      .heavy { color: $history-grey; }
    }

    &.red {
      .half-circle > span { background-color: $history-red; }
      .content {
        .special { color: $history-red; }
      }
      .heavy { color: $history-red; }
    }
    
    &.black {
      .half-circle > span { background-color: $black; }
      .content {
        .special { color: $black; }
      }
      .heavy { color: $black; }
    }

  }

  .move-box {
    width: 94%;
    display: block;
    clear: both;
    padding: 0 0;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 10px;

    @include respond-to('extra-small'){
      width: 100%;
    }

    .line {
      position: absolute;
      top: 0px;
      left: 7.5%;
      height: 100%;
      width: 2px;
      background-color: $light-main-color;
      z-index: -1;
    }

    .icon {
      width: 15%;
      top: 7px;
      min-width: $icon-height;
      height: $icon-height;
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: top;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-image: url(#{$img-url}lists/add.png);

      i {
        z-index: 1;
        color: $main-color;
        background-color: $white;
      }
    }


    .icon-summary {
      @extend .icon;
      background: inherit !important;
      & span{
        width: 32px;
        height: 32px;
        display: block;
        background-color: white;
        margin: auto;
        border-radius: 100px;
        position: relative;
        border: 1px solid #a2a2a2;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eShape%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='flecha' transform='translate(-6.000000, -6.000000)' fill='%23E59D26'%3e%3cpolygon id='Shape' transform='translate(14.000000, 14.000000) rotate(90.000000) translate(-14.000000, -14.000000) ' points='14 6 12.6 7.4 18.2 13 6 13 6 15 18.2 15 12.6 20.6 14 22 22 14'%3e%3c/polygon%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
      }
    }

    .icon-remove {
      @extend .icon;
      background-image: url(#{$img-url}lists/remove.png);

    }

    .content {
      width: 77%;
      display: inline-block;

      .boxed {
        position: relative;
        border: 1px solid $light-main-color;
        //padding-top: 10px;
        //box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
        //@include radius(5px);
        height:60px;
        padding: 10px 6px 10px 6px;
        
        
        .bordereded{
          padding-left: 10px;
        }

        .title {
          //display: block;
          color: $black;
          font-size: 11px;
          margin-bottom: 5px;
          //padding: 5px 10px;
          padding:0px;
          display: inline-block;
          vertical-align: top;
          font-weight: 300;
          width: 60%;

          @include respond-to('small'){
            //font-size: 1em;
          }

          // Highlight the title according to the filter
          .highlightText {
            font-weight: 600;
          }
        }

        .description {
          //padding: 5px 10px;
          width: calc(40% - 5px);
          display: inline-block;
          text-align: right;
          vertical-align: top


          em {
            color: $warning-color;
            margin-right: 10px;
          }

          span.amount {
            font-size: 18px;
            span.cents {
              font-size: 18px;
            }
            i.coin {
              color: $font-primary-color;
              margin: 3px;
              font-size: 12px;
              font-style: normal;
              font-weight: 300;
            }
          }
        }

        .selection-mark {
          //width: 100%;
          //height: 0px;
          //padding: 0px;
          background-color: $gradient-grey-final;
          text-align: center;
          //color: $white;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 400;
          //@include bottom-border-radius(5px);
          opacity:0;
        }

        &:before, &:after{
          content: '';
          display: block;
          position: absolute;
          top: 15px;
          left: -15px;
          width: 15px;
          height: 15px;
        }

        &:after {
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-right:8px solid $white;
        }

        &:before {
          top: 13px;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right:10px solid $light-main-color;
        }
      }

      @include respond-to('extra-small'){
        width: 80%;
      }
    }

    &.date {
      padding-bottom: 10px;

      .icon {
        //background-image: url(#{$img-url}lists/icon-calendar.png);
        top: 0px;
        cursor: auto;

        & span{
          width: 32px;
          height: 32px;
          display: block;
          background-color: #f1f1f1;
          margin: auto;
          border-radius: 100px;
          position: relative;
          border: 1px solid #a2a2a2;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21px' height='21px' viewBox='0 0 21 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50 (54983) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eGroup Copy 2%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Alta-Aclaraciones' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='18_AclaracionesWebView-CargoDuplicado-Resumen-Copy' transform='translate(-26.000000, -253.000000)'%3e%3cg id='Group' transform='translate(17.000000, 244.000000)'%3e%3cg id='icoCalendario'%3e%3cg transform='translate(0.000000, 0.050000)' id='Group-Copy-2'%3e%3cg transform='translate(9.942500, 9.113958)'%3e%3cg id='Rectangle-403-Copy-+-Rectangle-403-Copy-+-Rectangle-413' transform='translate(0.000000, 2.485625)' stroke='%23878787'%3e%3cg%3e%3crect id='Rectangle-403-Copy' stroke-width='2.2504' x='1.1252' y='1.1252' width='17.6346' height='15.148975' rx='1.6878'%3e%3c/rect%3e%3cg id='Rectangle-403-Copy-+-Rectangle-413'%3e%3crect id='Rectangle-403-Copy' stroke-width='1.1252' fill='%23878787' x='0.5626' y='0.5626' width='18.7598' height='3.84605' rx='1.6878'%3e%3c/rect%3e%3crect id='Rectangle-413' stroke-width='0.5626' fill='%2337B4BB' x='0.2813' y='4.42400833' width='19.3224' height='1'%3e%3c/rect%3e%3c/g%3e%3c/g%3e%3c/g%3e%3crect id='Rectangle-626' fill='%23878787' x='3.31416667' y='0' width='1.65708333' height='3.31416667' rx='0.828541667'%3e%3c/rect%3e%3crect id='Rectangle-626' fill='%23878787' x='14.0852083' y='0' width='1.65708333' height='3.31416667' rx='0.828541667'%3e%3c/rect%3e%3crect id='Rectangle-628-Copy-2' fill='%23878787' x='4.14270833' y='13.2566667' width='2.485625' height='2.485625'%3e%3c/rect%3e%3crect id='Rectangle-628-Copy-3' fill='%23878787' x='8.28541667' y='9.11395833' width='2.485625' height='2.485625'%3e%3c/rect%3e%3crect id='Rectangle-628-Copy-2' fill='%23878787' x='8.28541667' y='13.2566667' width='2.485625' height='2.485625'%3e%3c/rect%3e%3crect id='Rectangle-628-Copy-4' fill='%23878787' x='13.2566667' y='9.11395833' width='2.485625' height='2.485625'%3e%3c/rect%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
          background-repeat: no-repeat;
          background-size: 17px 17px;
          background-position: center;
        }

        & span.dot{
          width: 8px;
          height: 8px;
          display: block;
          background-color: #e6e6e6;
          margin: auto;
          border-radius: 100px;
          position: relative;
          left: 1px;
          margin-top: 12px;
          border:none !important;
          background-image: none !important;
        }

      }

      & .line{
        top:0px !important;
        margin-top: 15px;
      }

      .content {
        color: $title-grey;
        font-size: 13px;
        font-weight: 300;
        vertical-align: middle;
        line-height: $icon-height;

        &.history{
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      .contentDate {
        text-transform: none;
        font-weight: normal;
      }
    }

    &.active {
      padding-bottom: 20px;

      .icon {
        //background-image: url(#{$img-url}lists/added.png);

        
        & span{
          background-color: #ec0000;
          border: 1px solid #ec0000;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17px' height='12px' viewBox='0 0 17 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3ePath 1557%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='-' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3e%3cg id='2_AclaracionesWebView_Movimientos' transform='translate(-29.000000, -495.000000)' stroke='%23FFFFFF' stroke-width='2.0952'%3e%3cg id='btnSeleccionar' transform='translate(21.000000, 485.000000)'%3e%3cg id='btnMovSeleccionar' transform='translate(0.820000, 0.960000)'%3e%3cg id='Group-12' transform='translate(1.000000, 1.000000)'%3e%3cg id='Group'%3e%3cpolyline id='Path-1557' points='7.76 14.1980498 12.3244461 18.8106333 21.34 9.7'%3e%3c/polyline%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
        }
        
      }
      .content {
        margin-bottom: 10px;

        @include selection-animation;
      }
    }

    &.summary {
      .content {
        margin-bottom: 10px;
      }
    }
  }

  .state-item {
    width: 90%;
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid $light-main-color;
    line-height: 30px;
    cursor: pointer;
    font-size: 0.85em;

    &:hover {
      background-color: $light-main-color;
    }
  }
}

.moves-containerWallet {
  width: 100%;
  max-width: $general-max-width;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  clear: both;
  position: relative;
  margin-top:-10px;
  .moves-header {
    position: absolute;
    top:0;
    left: 0;
    height: $highlilght-circle-height;
    width: 100%;
    background-color: $white;
    z-index: 3;

    .move-box {
      .line {
        display: none;
      }
    }
  }

  .moves-list {
    z-index: 2;
    position: relative;
    list-style: none;
    padding: 0;
    width: 100%;

    li:last-child {
      .line {
        display: none;
      }
    }

    li:first-child {
      .line {
        display: none;
      }
    }

  }

  .move-box {
    width: 94%;
    display: block;
    clear: both;
    padding: 0 0;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid $wallet-gray-light;
    @include respond-to('extra-small'){
      width: 100%;
    }
    .textRemove{
      color:  #ec0000;
      background-color: #f8f8f8;
      font-size: 12px;
      text-align: right;
      padding: 4px 4.8%;
      a{
        color:  #ec0000;
        text-decoration: none;
        cursor: pointer;
      }
      &:hover{
        text-decoration: none;
      }
    }
    .line {
      display: none;
    }

    .icon {
      width: 15%;
      top: 10px;
      min-width: $icon-height;
      height: $icon-height;
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: top;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-image: url(#{$img-url}lists/add.png);
      
      i {
        z-index: 1;
        color: $main-color;
        background-color: $white;
      }
    }



    .icon-summary {
      position: absolute;
      right: 0;
      @extend .icon;
      background: inherit !important;
      & span{
        width: 24px;
        height: 24px;
        display: block;
        background-color: #efefef;
        margin: auto;
        border-radius: 100px;
        position: relative;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17px' height='12px' viewBox='0 0 17 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3ePath 1557%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='-' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3e%3cg id='2_AclaracionesWebView_Movimientos' transform='translate(-29.000000, -495.000000)' stroke='%23FFFFFF' stroke-width='2.0952'%3e%3cg id='btnSeleccionar' transform='translate(21.000000, 485.000000)'%3e%3cg id='btnMovSeleccionar' transform='translate(0.820000, 0.960000)'%3e%3cg id='Group-12' transform='translate(1.000000, 1.000000)'%3e%3cg id='Group'%3e%3cpolyline id='Path-1557' points='7.76 14.1980498 12.3244461 18.8106333 21.34 9.7'%3e%3c/polyline%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
      }
    }
    .icon-remove {
      position: absolute;
      right: 5%;
      top: 5px;
      z-index: 10000;
    }

    .content {
      width: 100%;
      display: inline-block;
      
      .boxed {
        width: 100%;
        background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='35px' height='34px' viewBox='0 0 35 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EDA773BCA-6125-4CB8-88C8-B7E1555CF3F7%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Movimientos_wallet' transform='translate(0.000000, -5.000000)' fill='%236D6D6D'%3E%3Cg id='ingreso-copy'%3E%3Cg id='Group-5' transform='translate(17.500000, 22.000000) scale(1, -1) translate(-17.500000, -22.000000) translate(0.000000, 5.000000)'%3E%3Cg id='Group-7' transform='translate(8.166667, 6.800000)'%3E%3Cpath d='M1.43699776,8.44888642 C1.10902168,8.72685981 0.575009344,8.72685981 0.247033265,8.44888642 C0.0819940198,8.30989973 -1.77635684e-15,8.12814789 -1.77635684e-15,7.94372324 C-1.77635684e-15,7.76286234 0.0819940198,7.58200145 0.247033265,7.44301476 L8.15712016,0.208034574 C8.23070454,0.142104987 8.32531303,0.0904304465 8.42833115,0.0547928321 C8.6333162,-0.0182642774 8.867735,-0.0182642774 9.07272005,0.0547928321 C9.17573818,0.0904304465 9.27034666,0.142104987 9.34813586,0.208034574 L17.2540179,7.44301476 C17.581994,7.72098815 17.581994,8.17002209 17.2540179,8.44888642 C16.9249907,8.72685981 16.3909783,8.72685981 16.0630022,8.44888642 L9.5899131,2.43182171 L9.58728509,20.5032007 L7.90851009,20.5032007 L7.91113811,2.43182171 L1.43699776,8.44888642 Z' id='Fill-1'%3E%3C/path%3E%3Cellipse id='Oval' cx='8.75' cy='20.3514404' rx='1' ry='1'%3E%3C/ellipse%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 
                    3% 5px no-repeat;
        position: relative;
        height:45px;
        padding: 7px 0 0 15%;
        .bordereded{
          padding-left: 10px;
        }

        .title {
          //display: block;
          color: $grey;
          font-size: 12px;
          font-weight: bold !important;
          margin-bottom: 0;
          //padding: 5px 10px;
          padding:0px;
          display: inline-block;
          vertical-align: top;
          font-weight: 300;
          width: 80%;

          @include respond-to('small'){
            //font-size: 1em;
          }

          // Highlight the title according to the filter
          .highlightText {
            font-weight: 600;
          }
        }
        
        .description {
          //padding: 5px 10px;
          width: calc(40%);
          display: inline-block;
          vertical-align: top

          em {
            color: $warning-color;
            margin-right: 10px;
          }

          span.amount {
            font-size: 18px;
            margin-left:30px;
            span.cents {
              font-size: 18px;
            }
            i.coin {
              position: absolute;
              left: 15%;
              padding-top:5px;
              color: $font-primary-color;
              font-size: 12px;
              font-style: normal;
              font-weight: 300;

            }
          }
        }


        .selection-mark {
          width: 120% !important;
          margin-left: -17%;
          margin-top:-19px;
          background-color: $gradient-grey-final;
          font-size: 11px;
          font-weight: 400;
          opacity:0;
          padding-left: 30px !important;
        }

      }
    }

      

    &.date {
      padding-left:15%;
      padding-bottom:0;
      background-color: $wallet-gray-light;
      .icon {
        display:none;
        & span{
          display:none;
        }
        & span.dot{
          display:none;
        }
      }

      & .line{
        display:none;
      }

      .content {
        color: $title-grey;
        font-size: 14px;
        font-weight: 320;
        vertical-align: middle;
        line-height: $icon-height;
        text-transform: uppercase;
      }
      .contentDate {
        font-weight: normal;
      }
    }

    &.active {
      //padding-bottom: 20px;

      .icon {
        //background-image: url(#{$img-url}lists/added.png);
        & span{
          background-color: #ec0000;
          border: 1px solid #ec0000;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17px' height='12px' viewBox='0 0 17 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3ePath 1557%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='-' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3e%3cg id='2_AclaracionesWebView_Movimientos' transform='translate(-29.000000, -495.000000)' stroke='%23FFFFFF' stroke-width='2.0952'%3e%3cg id='btnSeleccionar' transform='translate(21.000000, 485.000000)'%3e%3cg id='btnMovSeleccionar' transform='translate(0.820000, 0.960000)'%3e%3cg id='Group-12' transform='translate(1.000000, 1.000000)'%3e%3cg id='Group'%3e%3cpolyline id='Path-1557' points='7.76 14.1980498 12.3244461 18.8106333 21.34 9.7'%3e%3c/polyline%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
        }
        
      }
      .content {
        .boxed{
          height: 63px;
        }
        //margin-bottom: 10px;
        @include selection-animation;
      }
    }

    &.summary {
      .content {
        margin-bottom: 10px;
      }
    }
  }

  .state-item {
    width: 90%;
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid $light-main-color;
    line-height: 30px;
    cursor: pointer;
    font-size: 0.85em;

    &:hover {
      background-color: $light-main-color;
    }
  }
}

@keyframes showMark {
    from {height: 0; padding: 3px 0 3px 30px; color: $white; }
    to {height: auto; padding: 3px 0 3px 30px; }
    40%{ color: $white; }
    100% { color: $main-color; }
}

@keyframes showDescription {
    from {display: none; height: 0; opacity: 0; }
    to {display: block; height: auto; opacity: 1;}
}
