.numeric-box {
  @include circlesolid($icon-height, $white);
  color: $white;
  background-color: #9a9a9a;
  padding: 5px;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: $question-measure;
  height: $question-measure;
  line-height: 20px;
}

.question {
  font-weight: 200;
  font-size: 1.1em;

  & p{
    font-weight: 300;
  }

  .span {
    font-weight: 600;
  }

  strong {
    font-weight: 400;
  }

  .form-group {
    text-align: center;

    .radio-inline {
      margin-left: 40px;
      line-height: $icon-height;
      vertical-align: middle;

      input {
        width: $icon-height;
        height: $icon-height;
        margin: 0;
      }

      span {
        display: inline-block;
        padding-left: 35px;
      }
    }

    .form-control {
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.answer {
  .date-picker {
    padding-left: 5px;
    padding-right: 0;

    .form-control {
      padding: 6px 6px;
    }
  }
}

.default-value {
  color: #979797;
}
.angle-down {
  display: inline-block;
  margin-top: 17px;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  background-image: url(#{$img-url}general/angle-down.png);
  background-repeat: no-repeat;
}

.questionnaire {
  input {
    height: 40px;
    font-size: 1em;
    color: $black;
    text-align: center;

    &.last-six {
      font-size: 20px;
      letter-spacing: 4px;
    }
  }

  span {
    font-size: 1.1em;
    font-weight: 400;
    color: $title-grey;
    line-height: 40px;
    vertical-align: middle;
  }
}


.text-counter {
  display: block;
  font-size: 0.87em;
  color: $light-grey;
  text-align: right;
  padding-bottom: 4px;
}
