.list-holder {
  width: 90%;
  max-width: 460px;
  margin: 0 auto;
  display: block;

  .nav-tabs {
    border-bottom: 1px solid $main-color;

    li {
      border: 1px solid $disabled-color;
      border-bottom: none;
      border-radius: 3px 3px 0 0;
      width: 24%;
      margin-right: 1%;
      min-height: 44px;

      &.active {
        border: none;
        border-bottom: 1px solid $white;
      }

      &:last-child {
        margin-right: 0px;
        width: 25%;
      }
    }

    a {
      color: $disabled-color;
      &:hover {
        color: #23527c;
      }
    }
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid $main-color;
    border-bottom: none;
    color: $main-color;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
  }

  .custom-label {
    color: $grey;
    font-size: 1em;
    display: block;
    margin-bottom: 15px;
  }

  .form-group {
    .radio-inline {
      margin: 10px 0;
      .form-control{
        border: none !important;
        display: inline-block;
        clear: both;
        width: 25%;
        min-width: 25px;
        max-width: 26px;

        @include bs(0 0 0 $light-main-color);

        &:focus, &:active {
          outline: none;
          @include bs(0 0 0 $light-main-color);
        }
      }

      span {
        display: inline-block;
        padding-top: 12px;
        margin-left: 20px;
        line-height: 100%;
        vertical-align: middle;

        &.smaller {
          width:75%;
        }
      }
    }
  }
}

.box {
  padding: 15px;
  width: 96%;
  display: block;
  margin:0 auto;
  text-align: center;

  @include bs(1px 2px 0.83em $light-main-color);
}

.green {
  color: $green !important;
  border-color: $green !important;
}

.red {
  color: $main-color !important;
  border-color: $main-color !important;
}
.red-strong{
  font-size: 21.6px;
  font-weight: 600;
  line-height: 1.31;
  color: #c80000;
  margin-top: 5px;
}
.lock-text{
  font-size: 17px;
  font-weight: 300;
  color: #333333;
}
.lock-text-strong{
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}
.circled{
   height:4em;
   width:4em;
   border-radius:50%;
   border:4px solid #fff;
   margin: 0 auto;
   text-align: center;
   display: block;
}

.i-2x{font-size: 2em;}
.i-3x{font-size: 3em;}
.i-4x{font-size: 4em;}
.i-5x{font-size: 5em;}

.amount {
  font-size: 1.1em;
  margin-bottom: 10px;

  @include respond-to('small'){
    font-size: 1.4em;
  }
}

.small-card {
  padding: 15px;
  width: 80%;
  max-width: 260px;
  min-height: 100px;
  margin:0 auto;
  text-align: center;
  border: 1px solid $light-main-color;

  .icon-holder {
    vertical-align: middle;
    line-height: 2.5em;
    height: 100%;

    i {
      display: block;
    }
  }

  .title {
    font-size: 1em;
    margin:10px 0;
  }

  .card-number {
    color: $main-color;
    font-size: 1.2em;
  }

  @include bs(1px 2px 0.83em #666);
}

.highlight {
  font-size: 1.3em;
}

.balance-base {
  font-weight: bold;
  margin-bottom: 10px;
  &:before { content:'$'; }
}

.step-bar {
  width: 100%;
  max-width: $general-max-width;
  margin:0 auto;
  display: block;
  padding: 10px;
  text-align: center;

  .progress {
    margin: 3px 0;
    height: 4px;
    border-radius: 0px;

    .progress-bar {
      height: 4px;
      background-color: $main-color;
    }
  }

  .step {
    @include circle($icon-height, $main-color);
    text-align: center;
    line-height: 28px;
    display: inline-block;
    color: $title-grey;
    font-size: 0.875em;
  }

  .title {
    line-height: $highlilght-circle-height;
    font-size: 12px;
    color: $title-grey;

  }

  .step-number {
    text-align: right;
    font-weight: 300;
    font-size:12px;
    line-height: $highlilght-circle-height;
    vertical-align: middle;
  }
}

.notice {
  background-color: #fff5e4;
  margin-bottom: 10px;



  &.active{
    display:none;
  }

  p {
    margin: 10px 5px;
    text-align: center;
    font-weight: 300;
    font-size: 0.675em;
    color: #9e9e9e;
  }
}

.bottom-buttons {
  /**border-top: 1px solid $light-main-color;**/

  .content {
    width: 100%;
    max-width: $general-max-width;
    display: block;
    margin: 0 auto;
    padding: 10px 5px;
  }
}

.button-behaviour {
  cursor: pointer;
}

.std-icon {
  width: 20%;
  max-width: 28px;
  display: block;
  margin-right: 10px;
  display: inline-block;
  img {
    width: 100%;

  }
}

.heavy {
  font-weight: bold;
}

.list-separator {
  width: 100%;
  height: 1px;
  border-top: 1px solid $light-grey;
  margin: 10px 0;
  display: block;
  clear: both;
}

div.more-moves {
  display: block;
  font-size: 1em;
  color: $white;
  background-color: $main-color;
  text-align: center;
  line-height: 1.6em;
  vertical-align: middle;
  padding: 5px 15px;
  margin: 0 auto;
}
