.summary {
  p{
    font-size: 1.063em;
    color: $heavy-grey;
    font-weight: 200;
  }

  .response {
    display: block;
    clear: both;
    border-bottom: 1px solid $light-grey;
    margin-top: 19px;
    font-size: 0.875em;
    text-transform: uppercase;

    .response-left {
      float: left;
      text-align: left;
      font-weight: 200;
      width: 42%;
      max-width: 208px;
      color: $title-grey;
    }
    .response-left-long {
      float: left;
      text-align: left;
      font-weight: 200;
      width: 90%;
      color: $title-grey;
    }
    .response-left-middle {
      float: left;
      text-align: left;
      font-weight: 200;
      width: 65%;
      color: $title-grey;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
    }

    .response-right {
      float: right;
      text-align: right;
      font-weight: 600;
      width: 56%;
      color: $title-grey;

      &#additionalComments {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
      }
    }
    .response-right-short {
      float: right;
      text-align: right;
      font-weight: 600;
      width: 10%;
      color: $title-grey;
    }
    .response-right-middle {
      float: right;
      text-align: right;
      font-weight: 600;
      width: 35%;
      color: $title-grey;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
    }

    .separator {
      display: block;
      clear: both;
      height: 19px;
      width: 100%;
    }
  }
}
