.grayCalendar{
  width: 32px;
  height: 32px;
  display: block;
  background-color: #f1f1f1;
  margin: 0 15px 0 2px;
  border-radius: 100px;
  position: relative;
  border: 1px solid #a2a2a2;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21px' height='21px' viewBox='0 0 21 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50 (54983) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eGroup Copy 2%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Alta-Aclaraciones' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='18_AclaracionesWebView-CargoDuplicado-Resumen-Copy' transform='translate(-26.000000, -253.000000)'%3e%3cg id='Group' transform='translate(17.000000, 244.000000)'%3e%3cg id='icoCalendario'%3e%3cg transform='translate(0.000000, 0.050000)' id='Group-Copy-2'%3e%3cg transform='translate(9.942500, 9.113958)'%3e%3cg id='Rectangle-403-Copy-+-Rectangle-403-Copy-+-Rectangle-413' transform='translate(0.000000, 2.485625)' stroke='%23878787'%3e%3cg%3e%3crect id='Rectangle-403-Copy' stroke-width='2.2504' x='1.1252' y='1.1252' width='17.6346' height='15.148975' rx='1.6878'%3e%3c/rect%3e%3cg id='Rectangle-403-Copy-+-Rectangle-413'%3e%3crect id='Rectangle-403-Copy' stroke-width='1.1252' fill='%23878787' x='0.5626' y='0.5626' width='18.7598' height='3.84605' rx='1.6878'%3e%3c/rect%3e%3crect id='Rectangle-413' stroke-width='0.5626' fill='%2337B4BB' x='0.2813' y='4.42400833' width='19.3224' height='1'%3e%3c/rect%3e%3c/g%3e%3c/g%3e%3c/g%3e%3crect id='Rectangle-626' fill='%23878787' x='3.31416667' y='0' width='1.65708333' height='3.31416667' rx='0.828541667'%3e%3c/rect%3e%3crect id='Rectangle-626' fill='%23878787' x='14.0852083' y='0' width='1.65708333' height='3.31416667' rx='0.828541667'%3e%3c/rect%3e%3crect id='Rectangle-628-Copy-2' fill='%23878787' x='4.14270833' y='13.2566667' width='2.485625' height='2.485625'%3e%3c/rect%3e%3crect id='Rectangle-628-Copy-3' fill='%23878787' x='8.28541667' y='9.11395833' width='2.485625' height='2.485625'%3e%3c/rect%3e%3crect id='Rectangle-628-Copy-2' fill='%23878787' x='8.28541667' y='13.2566667' width='2.485625' height='2.485625'%3e%3c/rect%3e%3crect id='Rectangle-628-Copy-4' fill='%23878787' x='13.2566667' y='9.11395833' width='2.485625' height='2.485625'%3e%3c/rect%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: center;

}

.paddingStepper{
  padding-top:61px;

}

  .bottomDiv{
    width: 100%;
    display: block;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    padding:  10px 5px;
    font-size: 1em;
    background-color: white;
    z-index: 10;
    .bottonAlign{
      display: flex;
      align-content: center;
      justify-content: center;
      .bottonWidth{
        max-width: 960px;
      }
      .bottomButton {
        line-height: $icon-height;
        font-size: 16.8px;
        text-align: center;
        color: $white;
        border: none;
        height: 54px;
        border-radius: 60px;
        background-color: $active-button-color;
        display: flex;
        align-items: center;
        justify-content: center;
        &:focus {
          outline: none;
        }
        &:disabled {
          opacity: 0.7;
          background-color: $disabled-button-color;
        }
      }  
      
      .bottomButtonWallet {
        line-height: $icon-height;
        font-size: 16.8px;
        text-align: center;
        color: $white;
        border: none;
        height: 54px;
        border-radius: 4px;
        background-color: $active-button-color;
        display: flex;
        align-items: center;
        justify-content: center;
        &:focus {
          outline: none;
        }
        &:disabled {
          opacity: 0.7;
          background-color: $disabled-button-color;
        }
      }
      .bottomButtonInverse{
        line-height: $icon-height;
        font-size: 16.8px;
        font-weight: bold;
        text-align: center;
        color: $main-color;
        border: 1px solid $main-color;
        height: 54px;
        border-radius: 4px;
        background-color: $transparent !important;
        display: flex;
        align-items: center;
        justify-content: center;
        &:focus {
          outline: none;
        }
        &:disabled {
          opacity: 0.7;
          background-color: $disabled-button-color;
        }
      }
      

    }

  }
  .bottomGray{
    background-color: #fafafa;
  }
.transaction-select-list {
  .move {
    .description {
      text-transform: uppercase;
      font-size: 1em;
      margin-bottom: 10px;
    }

    .balance {
      font-size: 0.9em;
      font-weight: bold;
      text-align: right;
      &:before { content:'$'; }
      &:after { content:'MXN'; font-size: 0.7em; color: $font-primary-color; }
    }

    .actions {
      text-align: right;
      em {
        cursor: pointer;
      }
    }
  }
}


.vertical-padded {
  padding:20px 0;
}

.notify-badge{
  position: absolute;
  right: 2px;
  top: 3px;
  background-color: #5fcad0;
  text-align: center;
  border-radius: 50%;
  color:white;
  padding-top: 2px;
  font-size: 12px;
  width:  17px;
  height: 17px;

}


.blueCalendar{
  display: block;
  width: 28px;
  height: 28px;
  background-color: #dff0f2;
  border-radius: 100px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21 21' style='enable-background:new 0 0 21 21;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%2337B4BB;stroke-width:2.2504;%7d .st1%7bfill:%2337B4BB;stroke:%2337B4BB;stroke-width:1.1252;%7d .st2%7bfill:%2337B4BB;stroke:%2337B4BB;stroke-width:0.5626;%7d .st3%7bfill:%2337B4BB;%7d %3c/style%3e%3ctitle%3eGroup Copy 2%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Alta-Aclaraciones'%3e%3cg id='_x31_8_x5F_AclaracionesWebView-CargoDuplicado-Resumen-Copy' transform='translate(-26.000000, -253.000000)'%3e%3cg id='Group' transform='translate(17.000000, 244.000000)'%3e%3cg id='icoCalendario'%3e%3cg id='Group-Copy-2' transform='translate(0.000000, 0.050000)'%3e%3cg transform='translate(9.942500, 9.113958)'%3e%3cg id='Rectangle-403-Copy-_x2B_-Rectangle-403-Copy-_x2B_-Rectangle-413' transform='translate(0.000000, 2.485625)'%3e%3cg%3e%3cpath id='Rectangle-403-Copy' class='st0' d='M2.8,1.1h14.3c0.9,0,1.7,0.8,1.7,1.7v11.8c0,0.9-0.8,1.7-1.7,1.7H2.8 c-0.9,0-1.7-0.8-1.7-1.7V2.8C1.1,1.9,1.9,1.1,2.8,1.1z'/%3e%3cg id='Rectangle-403-Copy-_x2B_-Rectangle-413'%3e%3cpath id='Rectangle-403-Copy_1_' class='st1' d='M2.3,0.6h15.4c0.9,0,1.7,0.8,1.7,1.7v0.5c0,0.9-0.8,1.7-1.7,1.7H2.3 c-0.9,0-1.7-0.8-1.7-1.7V2.3C0.6,1.3,1.3,0.6,2.3,0.6z'/%3e%3crect id='Rectangle-413' x='0.3' y='4.4' class='st2' width='19.3' height='1'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cpath id='Rectangle-626' class='st3' d='M4.1,0L4.1,0C4.6,0,5,0.4,5,0.8v1.7c0,0.5-0.4,0.8-0.8,0.8l0,0 c-0.5,0-0.8-0.4-0.8-0.8V0.8C3.3,0.4,3.7,0,4.1,0z'/%3e%3cpath id='Rectangle-626_1_' class='st3' d='M14.9,0L14.9,0c0.5,0,0.8,0.4,0.8,0.8v1.7c0,0.5-0.4,0.8-0.8,0.8l0,0 c-0.5,0-0.8-0.4-0.8-0.8V0.8C14.1,0.4,14.5,0,14.9,0z'/%3e%3crect id='Rectangle-628-Copy-2' x='4.1' y='13.3' class='st3' width='2.5' height='2.5'/%3e%3crect id='Rectangle-628-Copy-3' x='8.3' y='9.1' class='st3' width='2.5' height='2.5'/%3e%3crect id='Rectangle-628-Copy-2_1_' x='8.3' y='13.3' class='st3' width='2.5' height='2.5'/%3e%3crect id='Rectangle-628-Copy-4' x='13.3' y='9.1' class='st3' width='2.5' height='2.5'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

.xIcon{
  width: 32px;
  height: 32px;
  display: block;
  margin: auto;
  background-color: #ec0000;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 30px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' style='enable-background:new 0 0 30 30;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23FFFFFF;stroke-width:1.92;stroke-linecap:square;%7d %3c/style%3e%3ctitle%3ebtn/Eliminar%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='_x2D_'%3e%3cg id='_x31_44-AclaracionesWebView-MovimientoSeleccionados--Copy' transform='translate(-23.000000, -286.000000)'%3e%3cg id='btn_x2F_Eliminar' transform='translate(23.000000, 286.000000)'%3e%3cg id='icoCerrar'%3e%3cg id='Line-_x2B_-Line-Copy'%3e%3cpath id='Line' class='st0' d='M10.1,10.1l9.8,9.8'/%3e%3cpath id='Line-Copy' class='st0' d='M19.9,10.1l-9.8,9.8'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}



.headerSelectedMoves{
  height: 48px;
  background-color: white;
  order: 1px solid #dedede;
  margin-top: -3px;
}


.headerSteps{
  background-color:white;
  padding-left:13px !important;
  padding-right:13px !important;
}

.headerSelectedMoves,{
  padding: 12px 0 16px 0;
  background-color: white;
  border: 1px solid #dedede;
  margin-top: -3px;
  text-align: center;
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 300;
  position: relative;

  & .selectedMoves{
    width: 60px;
    height: 100%;
    /* background-color: red; */
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16px' height='21px' viewBox='0 0 16 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eclipboards%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Repositorio-' transform='translate(-13.000000, -17.000000)' fill='%23878787' fill-rule='nonzero'%3e%3cg id='Group' transform='translate(13.000000, 10.000000)'%3e%3cg id='clipboards' transform='translate(0.000000, 7.000000)'%3e%3cpath d='M14.39995,3.23076923 L12.1788,3.23076923 C11.8825,2.89845433 11.5019,2.64418269 11.0646,2.51717308 C10.6962,2.41025481 10.4127,2.12402885 10.3068,1.75208654 C10.01855,0.74025 9.0949,0 8,0 C6.9051,0 5.9815,0.74025 5.6932,1.75203606 C5.58715,2.12438221 5.30295,2.41025481 4.93415,2.51752644 C4.49725,2.64463702 4.11705,2.89865625 3.82105,3.23076923 L1.6,3.23076923 C0.71635,3.23076923 0,3.95400721 0,4.84615385 L0,19.3845649 C0,20.2767115 0.7163,20.9999495 1.59995,20.9999495 L14.3999,20.9999495 C15.2836,20.9999495 15.9999,20.2767115 15.9999,19.3845649 L15.9999,4.84615385 C15.99995,3.95400721 15.2836,3.23076923 14.39995,3.23076923 Z M8.01025,1.61538462 C8.4521,1.61538462 8.81025,1.97697837 8.81025,2.42307692 C8.81025,2.869125 8.4521,3.23076923 8.01025,3.23076923 C7.5684,3.23076923 7.21025,2.869125 7.21025,2.42307692 C7.21025,1.97697837 7.5684,1.61538462 8.01025,1.61538462 Z M14.39995,19.3845649 L1.6,19.3845649 L1.6,4.84615385 L3.2,4.84615385 L3.2,6.46153846 L12.8,6.46153846 L12.8,4.84615385 L14.39995,4.84615385 L14.39995,19.3845649 Z' id='Shape'%3e%3c/path%3e%3cpolygon id='Shape' points='11.04265 9.52203606 6.5941 14.013512 4.7376 12.1788389 3.6062 13.321875 6.5941 16.2979183 12.17405 10.6643654'%3e%3c/polygon%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-position: 15px 15px;
    background-size: 17px;
    background-repeat: no-repeat;

    & span{
      position: absolute;
      right: 2px;
      top: 6px;
      background-color: #5fcad0;
      text-align: center;
      border-radius: 50%;
      color: white;
      font-size: 12px;
      width: 17px;
      height: 17px;
      left:25px;
    }
  }
}

.contentDown{
  width: 100%;
}

.moduleCard{
  width: 100%;
  padding-top: 105px;
  margin-left: 0px;
}

.noPadding{
  padding:0px;
}

.filtersButton{
  background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='21px' height='20px' viewBox='0 0 21 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E894F8AA9-C837-4844-B3FE-89ABCDD35DC7%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Buscador' transform='translate(-293.000000, -18.000000)' fill='%23878787'%3E%3Cg id='icoFiltro-Copy' transform='translate(293.000000, 18.000000)'%3E%3Cg id='Group-2'%3E%3Cpolygon id='Triangle-13' points='0 0 21 0 10.5 10.2702703'%3E%3C/polygon%3E%3Cpolygon id='Path-392' points='8.07692308 5.94594595 8.07692308 16.8409298 12.6733023 19.6589949 12.6733023 7.13207348'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    center center no-repeat;
  width: 44px !important;
  height: 48px;
  position: absolute;
  top: 0px;
  padding-top: 10px !important;
  right: 0px;
  background-color: transparent !important;
  border:none !important;
  color: #9a9a9a !important;
}
.filtersButtonWallet{
  background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='21px' height='20px' viewBox='0 0 21 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E894F8AA9-C837-4844-B3FE-89ABCDD35DC7%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Buscador' transform='translate(-293.000000, -18.000000)' fill='%23878787'%3E%3Cg id='icoFiltro-Copy' transform='translate(293.000000, 18.000000)'%3E%3Cg id='Group-2'%3E%3Cpolygon id='Triangle-13' points='0 0 21 0 10.5 10.2702703'%3E%3C/polygon%3E%3Cpolygon id='Path-392' points='8.07692308 5.94594595 8.07692308 16.8409298 12.6733023 19.6589949 12.6733023 7.13207348'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    center center no-repeat;;
  width: 44px !important;
  height: 48px;
  position: absolute;
  top: 0px;
  padding-top: 10px !important;
  right: 44px;
  background-color: #f4f4f4 !important;
  border:1px solid #cccccc !important;
  color: #9a9a9a !important;
}

.inputSearch{
  border:none !important; 
  border-top: 1px solid #dedede !important;  
  border-bottom: 1px solid #dedede !important; 
  padding-right: 40px !important; 
  border-radius:0px !important;  
  position:relative !important; 
  height:48px !important; 
  font-weight:300 !important; 
  outline: none !important; 
}
.inputSearchWallet{
  border:none !important; 
  border-top: 1px solid #dedede !important;  
  border-bottom: 1px solid #dedede !important; 
  padding-right: 80px !important; 
  border-radius:0px !important;  
  position:relative !important; 
  height:48px !important; 
  font-weight:300 !important; 
  outline: none !important; 
}

.selectedMovesWallet{
  width: 44px;
  height: 100%;
  /* background-color: red; */
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16px' height='21px' viewBox='0 0 16 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eclipboards%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Repositorio-' transform='translate(-13.000000, -17.000000)' fill='%23878787' fill-rule='nonzero'%3e%3cg id='Group' transform='translate(13.000000, 10.000000)'%3e%3cg id='clipboards' transform='translate(0.000000, 7.000000)'%3e%3cpath d='M14.39995,3.23076923 L12.1788,3.23076923 C11.8825,2.89845433 11.5019,2.64418269 11.0646,2.51717308 C10.6962,2.41025481 10.4127,2.12402885 10.3068,1.75208654 C10.01855,0.74025 9.0949,0 8,0 C6.9051,0 5.9815,0.74025 5.6932,1.75203606 C5.58715,2.12438221 5.30295,2.41025481 4.93415,2.51752644 C4.49725,2.64463702 4.11705,2.89865625 3.82105,3.23076923 L1.6,3.23076923 C0.71635,3.23076923 0,3.95400721 0,4.84615385 L0,19.3845649 C0,20.2767115 0.7163,20.9999495 1.59995,20.9999495 L14.3999,20.9999495 C15.2836,20.9999495 15.9999,20.2767115 15.9999,19.3845649 L15.9999,4.84615385 C15.99995,3.95400721 15.2836,3.23076923 14.39995,3.23076923 Z M8.01025,1.61538462 C8.4521,1.61538462 8.81025,1.97697837 8.81025,2.42307692 C8.81025,2.869125 8.4521,3.23076923 8.01025,3.23076923 C7.5684,3.23076923 7.21025,2.869125 7.21025,2.42307692 C7.21025,1.97697837 7.5684,1.61538462 8.01025,1.61538462 Z M14.39995,19.3845649 L1.6,19.3845649 L1.6,4.84615385 L3.2,4.84615385 L3.2,6.46153846 L12.8,6.46153846 L12.8,4.84615385 L14.39995,4.84615385 L14.39995,19.3845649 Z' id='Shape'%3e%3c/path%3e%3cpolygon id='Shape' points='11.04265 9.52203606 6.5941 14.013512 4.7376 12.1788389 3.6062 13.321875 6.5941 16.2979183 12.17405 10.6643654'%3e%3c/polygon%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-position: 15px 15px;
  background-size: 17px;
  background-repeat: no-repeat;
  background-color: #f4f4f4 !important;
  border:1px solid #cccccc !important;
  & span{
    position: absolute;
    right: 2px;
    top: 6px;
    background-color: #5fcad0;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    width: 17px;
    height: 17px;
    left:25px;
    padding-top: 3px;
  }
}

.tooltip-hide{
  display : none;
}
.tooltip-backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  left:  0;
  right:  0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index:  100000;
}
.tooltip-box{
  position: absolute;
  top: 0;
  left:  2.5%;
  right:  2.5%;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
  background-color: #f5f6ce;
  border: solid 1px #f3a810;
  z-index:  100001;
  p{
    color:#5c5c5b;
    padding: 15px;
    font-size: 0.8em;
    margin: 0;
    line-height: 1.4em;
  }
  .flag-border {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -19px;
    left: 50%;
    border-bottom: 10px solid  #f3a810 ;
    border-right: 5px solid transparent;
    border-top: 10px solid transparent;
    border-left: 5px solid transparent;
  }   
  .flag-color {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -18px;
    left: 50%;
    border-bottom: 10px solid  #f5f6ce;
    border-right: 5px solid transparent;
    border-top: 10px solid transparent;
    border-left: 5px solid transparent;
  }
}

.textFilter{
  width:calc(100% - 30px);
  display:inline-block;
  vertical-align: middle;
}

.tooltipButton{
  width:22px;
  height:22px;
  display: inline-block;
  background-size:cover;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22px' height='22px' viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eShape%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='-Alta-de-aclaraciones-Copy' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='12_AclaracionesWebView_Cuestionario_CargoDuplicado' transform='translate(-161.000000, -472.000000)' fill='%23878787' fill-rule='nonzero'%3e%3cpath d='M171.999534,472 C165.925206,472 161,476.925206 161,482.999534 C161,489.073862 165.925206,494 171.999534,494 C178.073862,494 183,489.073862 183,482.999534 C183,476.925206 178.073862,472 171.999534,472 Z M174.289397,489.047788 C173.723217,489.27128 173.272508,489.440762 172.934476,489.558095 C172.597376,489.675429 172.205333,489.734095 171.75928,489.734095 C171.073905,489.734095 170.540317,489.566476 170.160381,489.232169 C169.780444,488.897862 169.591407,488.474159 169.591407,487.959196 C169.591407,487.758984 169.605376,487.554116 169.633312,487.345524 C169.66218,487.136931 169.70781,486.902265 169.770201,486.63873 L170.478857,484.135619 C170.541249,483.895365 170.595259,483.667217 170.638095,483.454899 C170.680931,483.24072 170.701418,483.044233 170.701418,482.865439 C170.701418,482.546963 170.635302,482.323471 170.504,482.197757 C170.370836,482.072042 170.120339,482.010582 169.746921,482.010582 C169.564402,482.010582 169.376296,482.037587 169.183534,482.094392 C168.992635,482.153058 168.826878,482.206138 168.690921,482.258286 L168.878095,481.487238 C169.341841,481.298201 169.786032,481.136169 170.209735,481.002074 C170.633439,480.866116 171.033862,480.799069 171.411005,480.799069 C172.091725,480.799069 172.616931,480.964825 172.986624,481.292614 C173.354455,481.621333 173.539767,482.048762 173.539767,482.573968 C173.539767,482.682921 173.52673,482.874751 173.501587,483.148529 C173.476444,483.423238 173.428952,483.673735 173.360042,483.903746 L172.655111,486.399407 C172.597376,486.599619 172.546159,486.828698 172.499598,487.084783 C172.453968,487.340868 172.431619,487.536423 172.431619,487.667725 C172.431619,487.999238 172.505185,488.225524 172.65418,488.345651 C172.801312,488.465778 173.059259,488.526307 173.424296,488.526307 C173.596571,488.526307 173.789333,488.495577 174.007238,488.435979 C174.22328,488.376381 174.379725,488.323302 174.478434,488.277672 L174.289397,489.047788 Z M174.164614,478.918011 C173.835894,479.22345 173.440127,479.376169 172.977312,479.376169 C172.515429,479.376169 172.116868,479.22345 171.785354,478.918011 C171.455704,478.612571 171.289016,478.241016 171.289016,477.807069 C171.289016,477.374053 171.456635,477.001566 171.785354,476.693333 C172.116868,476.384169 172.515429,476.230519 172.977312,476.230519 C173.440127,476.230519 173.836825,476.384169 174.164614,476.693333 C174.493333,477.001566 174.658159,477.374053 174.658159,477.807069 C174.658159,478.241947 174.493333,478.612571 174.164614,478.918011 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e"); 
  vertical-align: middle;

  &.inactive{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22px' height='22px' viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eShape Copy%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='-Alta-de-aclaraciones-Copy' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='11_AclaracionesWebView_Cuestionario' transform='translate(-161.000000, -490.000000)' fill='%23DDDDDE' fill-rule='nonzero'%3e%3cpath d='M171.999534,490 C165.925206,490 161,494.925206 161,500.999534 C161,507.073862 165.925206,512 171.999534,512 C178.073862,512 183,507.073862 183,500.999534 C183,494.925206 178.073862,490 171.999534,490 Z M174.289397,507.047788 C173.723217,507.27128 173.272508,507.440762 172.934476,507.558095 C172.597376,507.675429 172.205333,507.734095 171.75928,507.734095 C171.073905,507.734095 170.540317,507.566476 170.160381,507.232169 C169.780444,506.897862 169.591407,506.474159 169.591407,505.959196 C169.591407,505.758984 169.605376,505.554116 169.633312,505.345524 C169.66218,505.136931 169.70781,504.902265 169.770201,504.63873 L170.478857,502.135619 C170.541249,501.895365 170.595259,501.667217 170.638095,501.454899 C170.680931,501.24072 170.701418,501.044233 170.701418,500.865439 C170.701418,500.546963 170.635302,500.323471 170.504,500.197757 C170.370836,500.072042 170.120339,500.010582 169.746921,500.010582 C169.564402,500.010582 169.376296,500.037587 169.183534,500.094392 C168.992635,500.153058 168.826878,500.206138 168.690921,500.258286 L168.878095,499.487238 C169.341841,499.298201 169.786032,499.136169 170.209735,499.002074 C170.633439,498.866116 171.033862,498.799069 171.411005,498.799069 C172.091725,498.799069 172.616931,498.964825 172.986624,499.292614 C173.354455,499.621333 173.539767,500.048762 173.539767,500.573968 C173.539767,500.682921 173.52673,500.874751 173.501587,501.148529 C173.476444,501.423238 173.428952,501.673735 173.360042,501.903746 L172.655111,504.399407 C172.597376,504.599619 172.546159,504.828698 172.499598,505.084783 C172.453968,505.340868 172.431619,505.536423 172.431619,505.667725 C172.431619,505.999238 172.505185,506.225524 172.65418,506.345651 C172.801312,506.465778 173.059259,506.526307 173.424296,506.526307 C173.596571,506.526307 173.789333,506.495577 174.007238,506.435979 C174.22328,506.376381 174.379725,506.323302 174.478434,506.277672 L174.289397,507.047788 Z M174.164614,496.918011 C173.835894,497.22345 173.440127,497.376169 172.977312,497.376169 C172.515429,497.376169 172.116868,497.22345 171.785354,496.918011 C171.455704,496.612571 171.289016,496.241016 171.289016,495.807069 C171.289016,495.374053 171.456635,495.001566 171.785354,494.693333 C172.116868,494.384169 172.515429,494.230519 172.977312,494.230519 C173.440127,494.230519 173.836825,494.384169 174.164614,494.693333 C174.493333,495.001566 174.658159,495.374053 174.658159,495.807069 C174.658159,496.241947 174.493333,496.612571 174.164614,496.918011 Z' id='Shape-Copy'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    pointer-events: none;
  }
}


//Filters
.movFilters{
  background-color: #f4f4f4;
  padding: 18px 20px 18px 20px;
  font-size: 12px;
  font-weight: 400;
  color: #4a4a4a;
  position: relative;
  display: none;
  margin: 0px 0px 10px 0px;

  &.active{
      display:block;
  }

  &.filSM{
    text-transform: uppercase;
  }


  & .iconF{
      width: 15px;
      height: 15px;
      position: absolute;
      cursor: pointer;
      top: 15px;
      right: 20px;


      & span{
          position: absolute;
          left: 6px;
          background-color: #4a4a4a;
          display: block;
          margin-top:3px;
          right: 20px;

          &:first-child{
              width:2px;
              height: 15px;
              left: 6px;
              top:0px;
          }

          &:last-child{
              width:15px;
              height: 2px;
              top: 6px;
              left: 0px;
          }
      }

      &.active{


          & span:first-child{
              display:none;
          }

      }
  }

}

.filterApply{
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px 40px 5px 15px;
  border-radius: 100px;
  background-color: #f3f3f3;
  border: 1px solid #e4e4e4;
  background-position: 95% center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 19' style='enable-background:new 0 0 20 19;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23878787;stroke-miterlimit:10;%7d %3c/style%3e%3cline class='st0' x1='2.5' y1='1.5' x2='18.5' y2='17.5'/%3e%3cline class='st0' x1='2.5' y1='17.5' x2='18.5' y2='1.5'/%3e%3c/svg%3e");
  margin-top: 50px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-transform: initial;
  display:none;

  &.active{
      display:block;
  }
}
