<div id="tooltip-tdd-backdrop" class="tooltip-backdrop tooltip-hide" (click)="hideTooltip()"></div>
  
<div id="tooltip-tdd-box" class="tooltip-box tooltip-hide">
  <p id="tooltip-tdd-text"></p>
  <span id="tooltip-tdd-flag-border" class ="flag-border"></span>
  <span id="tooltip-tdd-flag-color" class ="flag-color"></span>
</div>