<div class="container-fluid result">
  <div class="row" *ngIf="statusCode == 301">
    <div class="col-xs-12 text-center">
      <div class="spacer"></div>
      <div class="success"></div>
      <div class="highlight green"><br/>{{ labelsService.getSuccess() }}</div>
      <div class="highlight-tiny green"><br/>{{ responseModel.currentDate }}</div>
      <div class="congrats">{{ labelsService.getCongrats(responseModel.name) }}</div>

      <div *ngIf="questions.motive.key == 'IC-201' || 
      questions.motive.key == 'IC-202' ||
      questions.motive.key == 'IC-203' ||
      questions.motive.key == 'IC-204' ||
      questions.motive.key == 'IC-205' ||
      questions.motive.key == 'IC-206' ||
      questions.motive.key == 'IC-207' ||
      questions.whatHappens.getKey() == 'S-01' ||
      questions.whatHappens.getKey() == 'S-03' || 
      (questions.hasCard=='1' && questions.haveContact =='2') ||
      (responseModel.oldCard && responseModel.newCard)">

      <div class="description" *ngIf=" responseModel.payment == 'true'" [innerHTML]="labelsService.getDescription(1)">
      </div>
      
      <div class="description" *ngIf=" responseModel.payment == 'false'" [innerHTML]="labelsService.getDescription(0)">
      </div>
    </div>

      
      <div class="description" *ngIf="questions.whatHappens.getKey() == 'S-02'" 
                                      [innerHTML]="labelsService.getDescription(2)">

      </div>

      <div class="restrictions" *ngIf=" responseModel.payment == 'true' && 
                                        questions.whatHappens.getKey() != 'S-01'&&
                                        questions.whatHappens.getKey() != 'S-02'&& 
                                        questions.whatHappens.getKey() != 'S-03'">
        Mientras llevamos a cabo una investigación, y para no afectar su línea de crédito, hicimos un abono temporal.
      </div>
      <div class="restrictions" *ngIf=" questions.motive.key == 'IC-201' &&
                                        visaCarta == 'false' ">

        Llevaremos a cabo una investigación para darle una pronta respuesta.
      </div>
      

      <div class="restrictions" 
          *ngIf="questions.motive.key == 'IC-202' ||
                questions.motive.key == 'IC-203' ||
                questions.motive.key == 'IC-204' ||
                questions.motive.key == 'IC-205' ||
                questions.motive.key == 'IC-206' ||
                questions.motive.key == 'IC-207' ||
                questions.whatHappens.getKey() == 'S-01' ||
                questions.whatHappens.getKey() == 'S-02' ||
                questions.whatHappens.getKey() == 'S-03'">
        <!-- Para continuar con el proceso envíe al correo<br/><a href="mailto:aclaracionescomprastc@santander.com.mx"><b>aclaracionescomprastc@santander.com.mx</b></a><br/>la siguiente información: -->
        Para continuar con el proceso envíe al correo<br/><strong>aclaracionescomprastc@santander.com.mx</strong><br/>la siguiente información:
      </div>
      <div *ngIf="responseModel.visaCard == 'false'">
        <div class="restrictions" *ngIf="questions.motive.key == 'IC-202'">
          <div class="info-box">
            <em></em>
            <p [innerHTML]="labelsService.getRestrictions(1)"></p>
          </div>
        </div>

        <div class="restrictions" *ngIf="questions.motive.key == 'IC-203'">
          <div class="info-box">
            <em></em>
            <p [innerHTML]="labelsService.getRestrictions(2)"></p>
          </div>
        </div>

        <div class="restrictions" *ngIf="questions.motive.key == 'IC-204'">
          <div class="info-box">
            <em></em>
            <p [innerHTML]="labelsService.getRestrictions(0)"></p>
            <div class="spacer"></div>
            <em></em>
            <p [innerHTML]="labelsService.getRestrictions(8)"></p>
          </div>
        </div>

        <div class="restrictions" *ngIf="questions.motive.key == 'IC-205'">
          <div class="info-box">
            <em></em>
            <p [innerHTML]="labelsService.getRestrictions(4)"></p>
          </div>
        </div>

        <div class="restrictions" *ngIf="questions.motive.key == 'IC-206'">
          <div class="info-box">
            <em></em>
            <p [innerHTML]="labelsService.getRestrictions(3)"></p>
          </div>
        </div>
        


        <div class="restrictions" *ngIf="questions.motive.key == 'IC-207'">
          <div class="info-box">
            <em></em>
            <p [innerHTML]="labelsService.getRestrictions(9)"></p>
          </div>
        </div>
      </div>

      <div *ngIf="(responseModel.visaCard == 'true') && 
                  (questions.motive.key == 'IC-202' ||
                  questions.motive.key == 'IC-203' ||
                  questions.motive.key == 'IC-204' ||
                  questions.motive.key == 'IC-205' ||
                  questions.motive.key == 'IC-206' ||
                  questions.motive.key == 'IC-207')">
        <div class="restrictions">
          <div class="info-box">
            <div>
              <em></em>
              <p [innerHTML]="labelsService.getRestrictions(0)"></p>
            </div>
            <div>
              <em></em>
              <p *ngIf="questions.motive.key == 'IC-202'" [innerHTML]="labelsService.getRestrictions(1)"></p>
              <p *ngIf="questions.motive.key == 'IC-203'" [innerHTML]="labelsService.getRestrictions(2)"></p>
              <p *ngIf="questions.motive.key == 'IC-204'" [innerHTML]="labelsService.getRestrictions(8)"></p>
              <p *ngIf="questions.motive.key == 'IC-205'" [innerHTML]="labelsService.getRestrictions(4)"></p>
              <p *ngIf="questions.motive.key == 'IC-206'" [innerHTML]="labelsService.getRestrictions(3)"></p>
              <p *ngIf="questions.motive.key == 'IC-207'" [innerHTML]="labelsService.getRestrictions(9)"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="restrictions" *ngIf="questions.whatHappens.getKey() == 'S-01' || questions.whatHappens.getKey() == 'S-03'">
        <div class="info-box">
          <em></em>
          <p [innerHTML]="labelsService.getRestrictions(7)"></p>
        </div>
      </div>
      <div class="restrictions" *ngIf="questions.whatHappens.getKey() == 'S-02'">
        <div class="info-box">
          <div>
            <em></em>
            <p [innerHTML]="labelsService.getRestrictions(0)"></p>
          </div>
          <div >
            <em></em>
            <p [innerHTML]="labelsService.getRestrictions(5)"></p>
          </div>
          <div >
            <em></em>
            <p [innerHTML]="labelsService.getRestrictions(6)"></p>
          </div>
        </div>
      </div>

      
      <div class="restrictions" *ngIf=" questions.motive.key == 'IC-202' ||
                                        questions.motive.key == 'IC-203' ||
                                        questions.motive.key == 'IC-204' ||
                                        questions.motive.key == 'IC-205' ||
                                        questions.motive.key == 'IC-206' ||
                                        questions.motive.key == 'IC-207' ||
                                        questions.whatHappens.getKey() == 'S-01' ||
                                        questions.whatHappens.getKey() == 'S-02' ||
                                        questions.whatHappens.getKey() == 'S-03'">
        <div class="warning" [innerHTML]="labelsService.getWarning()"></div>
      </div>
      <div class="card cardResult" *ngIf="responseModel.newCard && questions.blocker.operationReposition==true  && questions.whatHappens.getKey() != 'S-02'">
        <div class="title" [textContent]="labelsService.getNewCardTitle()"></div>
        <div class="card-number">**** **** **** {{ responseModel.newCard }}</div>
      </div>
      <div class="card cardResult" *ngIf="responseModel.payment=='true' && questions.whatHappens.getKey() != 'S-02'">
        <div class="title" [textContent]="labelsService.getAmountPaid()"></div>
        <div class="amount" [innerHTML]="responseModel.amount | smallCents"></div>
      </div>
      <div class="card cardResult" *ngIf="responseModel.payment=='false' && questions.whatHappens.getKey() != 'S-02'">
        <div class="title" [textContent]="labelsService.getAmountAclaration()"></div>
        <div class="amount" [innerHTML]="responseModel.totalAmount | smallCents"></div>
      </div>

      <div class="SMS">
        Le enviamos la carta acuse a la cuenta de correo que tiene registrada en <span>{{ nameChanel }}</span>.
      </div>
      <div class="folio" *ngIf="responseModel.nationalFolio.length > 0 && responseModel.internationalFolio.length > 0">
        FOLIOS NACIONALES
        <div *ngFor="let f of responseModel.nationalFolio">
          <span>{{ f }}</span>
        </div>
        <br>
        FOLIOS INTERNACIONALES
        <div *ngFor="let f of responseModel.internationalFolio">
          <span>{{ f }}</span>
        </div>         
      </div>
      <div class="folio" *ngIf="responseModel.nationalFolio.length == 0 && responseModel.internationalFolio.length > 0">
        NÚMERO DE FOLIO
        <div *ngFor="let f of responseModel.internationalFolio">
          <span>{{ f }}</span>
        </div>
      </div>
      <div class="folio" *ngIf="responseModel.nationalFolio.length > 0 && responseModel.internationalFolio.length == 0">
        NÚMERO DE FOLIO
        <div *ngFor="let f of responseModel.nationalFolio">
            <span>{{ f }}</span>
        </div>
      </div>

      <div class="SMS" *ngIf="responseModel.getGreaterDate() != null && responseModel.getGreaterDate() != 'Invalid date'">
        La fecha compromiso para el dictamen final de su solicitud será a más tardar el:
        <div class="spacer"></div>
      </div>
      <div class="description" *ngIf="responseModel.getGreaterDate() != null && responseModel.getGreaterDate() != 'Invalid date'">
         {{ responseModel.getGreaterDate() }}
      </div>
    </div>
  </div>

  <div class="row" *ngIf="responseModel.payment=='true' && questions.whatHappens.getKey() != 'S-02'">
    <div class="col-xs-12 special-note">
      Nota: Es importante señalar que si la aclaración es improcedente se realizará el cargo nuevamente a su tarjeta.
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn"
      [ngClass]="{endbutton: dataProxyService.getChannel()=='default', endbuttonWallet: dataProxyService.getChannel()=='wallet'}"

        (click)="finishApp($event)" 
              >      Finalizar
      </button>
    </div>
  </div>
</div>
