//PADDING TOP FOR THE FIXED STEPER
.summaryContent{
    position: relative;
    z-index: 1;
    padding-top: 55px;
    font-weight: lighter;
    font-size: 18px;
    padding-bottom: 130px;
    line-height: 1.5;
    .noPaddingTop{
        padding: 0 13px;
    }
    .moveInfo{
        font-size: 0.8em;
        border-bottom: 1px solid $darkGray;
        text-transform: uppercase;
        .description{
            font-weight: 600;
            text-align: right;
            font-size: 0.9em;
        }
    }
}