<!-- Card Block -->
<div class="cardBlock">
  <!-- Card -->
  <div class="card">

    <!-- Card Type -->
    <div class="cardType">LIGHT GARANTIZADA</div>
    <!-- Amouth -->
    <div class="amouth">108,540.<span class="cents">00</span><span class="coin">MXN</span></div>
    <!-- Footer Card -->
    <div class="footerCard">
        <span class="dInlineB">Saldo actual</span>
        <hr class="lineSD dInlineB">
        <span class="dInlineB">5471**5768</span>
    </div>

  </div>
</div>
<!-- Termina card block -->