<footer *ngIf="active">
  <div class="bottom-buttons">
    <div class="row content selected-items">
      <div class="col-xs-12">
        <button type="button" class="btn-block" 
          id="page-{{ getCurrentPage() }}"
          (debounceClick)="handleNavigation($event)" 
          [disabled]="!validateContinueButton()"
          appDebounceClick
          [ngClass]="{next: dataProxyService.getChannel()=='default', nextWallet: dataProxyService.getChannel()=='wallet'}">
          {{ buttonText }}
        </button>
      </div>
    </div>
  </div>
</footer>
