<!-- Content Result -->
<div class="contentLocked">

  <!-- Warning -->
  <p class="mRed bold xBig pTBMedium center LHBig">Tarjeta bloqueada definitivamente</p>
  
  <!-- Instructions Text -->
  <p class="dark light center pTBMedium medium LHMedium">
      La tarjeta con  terminación <span class="bold">9425</span> ha sido <span class="bold">bloqueada definitivamente</span>, por lo que hemos iniciado un proceso de reposición.
  </p>
  
  <!-- Content Info Result -->
  <div class="infoResult">
  
    <!-- Card Result -->
    <div class="cardResult wLine lastCR cardLocked">
      <h3 class="dark medium light center toUC">Nuevo número de tarjeta</h3>
      <h3 class="dark xBig center toUC pTSmall">**** **** **** 1234</h3>
    </div>
      
    <!-- Black Warning -->
    <p class="dark bold medium pTBMedium center LHSmall">Su nuevo numero de tarjeta será enviada al domicilio que ha registrado en el banco en un lapso máximo de 10 días hábiles.</p>
  
    <!-- Button Finalizar -->
    <button> Confirmar </button>
      
      
  </div>
  <!-- Termina Conten Info  Result -->
  
</div>
<!-- Termina Content Result -->
  
  