<!-- Content Footer -->
<div [ngClass]="{'contentFooter': chanelType === 'default', 'contentFooterWallet': chanelType === 'wallet'}">
  <button (click)="continue($event)" [ngClass]="{'inactive':!enable}"> {{buttonText}} </button>
</div>
<!-- Termina Footer Conten-->
