<!-- Content Result -->
<div class="contentResult">
  <!-- Icon -->
  <span class="icon"></span>
  <h1 class="green big center">Su solicitud fue recibida</h1>
  <h2 class="green medium light center pSmall">27/jun/2018 17:33</h2>

  <!-- Content Info Result -->
  <div class="infoResult">
   
    <!-- Thanks Text -->
    <p class="black xBig light center pTBMedium LHBig">&iexcl;Gracias por la espera, <span class="light toUC">perla vanessa pineda alfar</span>!</p>
    
    <!-- Movenment Text -->
    <p class="dark bold center big LHMedium">Hemos realizado un abono temporal a tu tarjeta</p>

    <!-- Instructions Text -->
    <p class="dark light center pTBMedium medium LHSmall">
      Para continuar con el proceso envíe al correo<br />
      <span class="small bold ">aclaracionescomprastc@santander.com.mx</span><br/>
      la siguiente información:
    </p>

    <!-- Requirements -->
    <div class="requirementsResult">
      <ul>
        <li>Lorem impsum Lorem impsum Lorem impsum Lorem impsum</li>

        <li>Lorem impsum Lorem impsum Lorem impsum Lorem impsum</li>
      </ul>
    </div>

    <!-- Warning -->
    <p class="mRed bold medium pTBMedium center LHSmall">Esta información deberá enviarla en máximo 5 días naturales, colocando en el asunto del correo el número de folio que le proporcionamos a continuación.</p>

    <!-- Card Result -->
    <div class="cardResult wLine">
      <h3 class="dark medium light center toUC">NÚMERO DE TARJETA</h3>
      <h3 class="dark big center toUC pTMedium">**** **** **** 1234</h3>
    </div>

    <!-- Card Result -->
    <div class="cardResult wLine lastCR">
      <h3 class="dark medium light center toUC">Monto Abonado</h3>
      <h3 class="dark xBig center toUC pTMedium">$1,234.55</h3>
    </div>

    <!-- Instructions Text -->
    <p class="dark light center pTBMedium medium LHSmall">
        Le enviamos la carta acuse a la cuenta de correo que tiene registrada en <span class="regular">SuperMóvil</span>.
    </p>

    <!-- Card Result -->
    <div class="cardResult">
      <h3 class="dark medium light center toUC">FOLIO IMPORTE NACIONAL</h3>
      <h3 class="dark big bold center toUC pTMedium">I18-0001042</h3>
    </div>

    <!-- Card Result -->
    <div class="cardResult">
      <h3 class="dark medium light center toUC">FOLIO IMPORTE INTERNACIONAL</h3>
      <h3 class="dark big bold center toUC pTMedium">I18-0001042</h3>
    </div>

    <!-- Instructions Text -->
    <p class="dark light center pTBMedium medium LHSmall">
      La fecha compromiso para el dictamen final de su solicitud será a más tardar el:<br /><br /><br />
      <span class="big dark bold center">10 de septiembre de 2018</span>
    </p>
    
    <!-- Black Warning -->
    <p class="dark bold medium pTBMedium center LHSmall">Nota: Es importante señalar que si la aclaración es improcedente se realizará el cargo nuevamente a su tarjeta.</p>

    <!-- Button Finalizar -->
    <button> Finalizar </button>
    
    
  </div>
  <!-- Termina Conten Info  Result -->

</div>
<!-- Termina Content Result -->

