<!-- Content Alerts -->
<div class="contentAlerts vAlign" *ngIf="visible">

    <!-- Bloqueo de tarjeta -->
    <div class="alertGeneral" style="display:none !important;">

        <!-- Icon -->
        <span class="i-icon"></span>
        
        <!-- Title -->
        <h1 class="black medium center pTBMedium">Bloqueo de tarjeta</h1>
        <p class="black medium light center LHSmall pBMedium">
            Para evitar que le sigan haciendo cargos y continuar con la aclaración es necesario llevar a cabo un <span class="bold">Bloqueo Total</span> de su tarjeta.<br /><br />
            Una vez realizado este proceso le haremos llegar el nuevo plástico al domicilio que ha registrado en el banco.<br /><br />
            <span class="bold">Esta acción NO puede revertirse.<br>Tendrá un costo establecido en su contrato.</span> 
        </p>

        <!-- BTN OPTIONS -->
        <ul>
            <li class="dInlineB"><button class="mRed bold medium">Cancelar</button></li>
            <li class="dInlineB"><button class="mRed bold medium">Continuar</button></li>
        </ul>

    </div>



    <!-- Bloqueo de tarjeta -->
    <div class="alertGeneral" *ngIf="value_step >= 0">

        <!-- Icon -->
        <span class="i-icon"></span>


        
        <!-- Title -->
        <h1 class="black medium center pTBMedium" [innerHTML]="title"></h1>

        <p class="black medium light center LHSmall pBMedium" [innerHTML]="texto">
                
        </p>

        <!-- BTN OPTIONS -->
        <ul>
            <li class="dInlineB unique"><button class="mRed bold medium" (click)="visible = false">Aceptar</button></li>
            <!--li class="dInlineB"><button class="mRed bold medium">Cancelar</button></li>
            <li class="dInlineB"><button class="mRed bold medium">Continuar</button></li-->
        </ul>
        
    </div>

    <!-- Spinner -->
    <div class="alertGeneral" *ngIf="value_step < 0">
        
        <p class="black medium center LHSmall pBMedium upper">
                Espere unos segundos,
                favor de no salir de la aplicación estamos procesando
                su información
        </p>


        <div class="spinnerCircle"></div>

        <p class="black small light center LHSmall pBMedium ">
                Esta pantalla se cerrará de forma
                automática cuando el proceso termine.
        </p>

            
    </div>

</div>
<!-- Termina Content Alerts -->
