<!-- Add Spinner -->
<app-spinner-tdd *ngIf="spinner"></app-spinner-tdd>
<!-- Add Steper -->
<app-steper-tdd></app-steper-tdd>
<!-- Add Alerts -->
<app-alerts-tdd></app-alerts-tdd>

<!-- Pleca Superior -->
<div class="plecaSuperior" *ngIf="chanelType === 'default'">
    <!-- Tilte -->
    <span>TARJETA</span>
    <!-- Selected Moves -->
    <div class="selectedMoves" (click)="showToggle('selectedMovComp');generateSelectedView();">
        <span  [innerHtml]="smSelectedMoves.length"></span>
    </div>
</div>

<!-- Content Dashboard -->
<div class="contentDashboard" [ngClass]="{'wallet': chanelType != 'default'}">
    <!-- Card Component -->
    <app-card-tdd *ngIf="chanelType === 'default'"></app-card-tdd>

    <!-- Search SUPER MOVIL -->
    <div class="searchModule" *ngIf="chanelType === 'default'">
        <!-- Input Search -->
        <form>
            <input placeholder="Buscar movimiento..." />
        </form>
        <!-- Filters Button -->
        <div class="filtersButton" (click)="showToggle('filtersComp')"></div>
    </div>
    
    <!-- Search SUPER WALLET -->
    <div class="searchModule wallet" *ngIf="chanelType === 'wallet'">
        <!-- Input Search -->
        <form>
            <input placeholder="Buscar movimiento..." class="wallet" />
        </form>
        <!-- Filters Button -->
        <div class="filtersButton wallet" (click)="showToggle('filtersComp')"></div>
        <!-- Selected Moves -->
        <div class="selectedMoves" (click)="showToggle('selectedMovComp');generateSelectedView();">
            <span [innerHtml]="smSelectedMoves.length"></span>
        </div>
    </div>

    <!-- Notice -->
    <div class="row">
    <div class="notice" *ngIf=" !filterApply">
        <p>Le informamos que los movimientos que por ahora se pueden aclarar solo son consumos en comercios (compras).</p>
    </div>

    <!-- Movimientos Filñtrados -->
    <div class="movFilters col-xs-12" [ngClass]="{'active': filterApply , 'filSM': chanelType === 'default'}">
        Transacciones filtradas
        <div class="iconF" [ngClass]="{'active': sfApply}" (click)="showFilterApply();">
            <span></span>
            <span></span>
        </div>
    </div>
  
    <div class="filterApply" [ngClass]="{'active': sfApply}" (click)="filterApply=false ; sfApply = false; generateMovesArray(); deleteFilters(); filterNameApply = ''; enable = false;filterName='';">
        <span [ngClass]="{'labelSM': chanelType === 'default'}">Por mes: </span>
        <span [ngClass]="{'filterWallet': chanelType === 'wallet'}">{{ filterName }}</span>
    </div>

</div>

    <!-- Content Movements -->
    <div class="centered-text" *ngIf="isLoadingMoves">Cargando movimientos...</div>
    <div class="centered-text" *ngIf="!isLoadingMoves && viewMoves.length === 0">No tiene movimientos para aclarar.</div>
    <div [ngClass]="{'movements': chanelType === 'default', 'movementsWallet': chanelType === 'wallet'}">
        <ul *ngFor="let item of viewMoves">

            <li>
                <!-- Left -->
                <div class="leftMov dInlineB">
                    <!-- Icon -->
                    <div class="iconMov">
                        <span></span>
                    </div>
                </div>
        
                <!-- Right -->
                <div class="rightMov dInlineB" [innerHtml]="item.key | formatSmDate" *ngIf="chanelType === 'default'"></div>
                <div class="rightMov dInlineB" [innerHtml]="item.key | formatSwDate" *ngIf="chanelType === 'wallet'"></div>
            </li>

            
            <li *ngFor="let items of item.value; let index = index" id="identificator{{ items.id }}" [ngClass]="{'active': checkSelectedElements(items.id)}">
                    <!-- Separador -->
                    <hr /> 
                    <!-- Left -->
                    <div class="leftMov dInlineB"  (click)="selectedMoves(items)">
                        <!-- Icon -->
                        <div class="iconMov">
                            <span></span>
                        </div>
                    </div>
        
                    <!-- Right -->
                    <div class="rightMov dInlineB"  (click)="selectedMoves(items)">
                        <!-- Mov Description -->
                        <div class="movDescription dInlineB">{{ items.txrComercio}}</div>
                        <!-- Mov Amount -->
                        <div class="movAmount dInlineB">
                            <span class="amount" [innerHtml]="items.amount | customCurrency"></span>
                        </div>
                    </div>
    
                    <!-- Bottom -->
                    <div class="bottomMov">
                        Movimiento a aclarar
                    </div>
                </li>

        </ul>
    </div>

</div>
<!-- Termina Content Dashboard -->

<!-- Add Footer -->
<app-footer-tdd [enable]="smSelectedMoves.length > 0" 
    [buttonText]="'Continuar'" (continueClarification)="executeContinue()"></app-footer-tdd>



<!-- Selected Moves -->
<div id="selectedMovComp" class="contentSelectedMov">

    <!-- Header Filters-->
    <div class="headerSelectedMov">
        <span>Movimientos seleccionados</span>
        <div class="tooltipButton" (click)="showTooltip($event,1)"></div>
    </div>

    <div [ngClass]="{'movements': chanelType === 'default', 'movementsWallet': chanelType === 'wallet'}">


    <!-- Content -->
    <p class="light" *ngIf="smSelectedMoves.length === 0">No hay movimientos seleccionados.</p>
    <p class="light" *ngIf="smSelectedMoves.length > 0">Este es el resumen de los cargos que ha elegido para enviar a aclaración:</p>

        <ul *ngFor="let item of viewSelectedMoves">
            <li>
                <!-- Left -->
                <div class="leftMov dInlineB">
                    <!-- Icon -->
                    <div class="iconMov">
                        <span></span>
                    </div>
                </div>
    
                <!-- Right -->
                <div class="rightMov dInlineB" [innerHtml]="item.key | formatSmDate" *ngIf="chanelType === 'default'"></div>
                <div class="rightMov dInlineB" [innerHtml]="item.key | formatSwDate" *ngIf="chanelType === 'wallet'"></div>
            </li>
            <li class="activeSelected" *ngFor="let items of item.value">
                <!-- Separador -->
                <hr /> 
                <!-- Left -->
                <div class="leftMov dInlineB" (click)="selectedMoves(items); generateSelectedView();">
                    <!-- Icon -->
                    <div class="iconMov">
                        <span></span>
                    </div>
                </div>
        
                <!-- Right -->
                <div class="rightMov dInlineB" (click)="selectedMoves(items); generateSelectedView();">
                    <!-- Mov Description -->
                    <div class="movDescription dInlineB">{{ items.txrComercio}}</div>
                    <!-- Mov Amount -->
                    <div class="movAmount dInlineB">
                        <span class="amount" [innerHtml]="items.amount | customCurrency"></span>
                    </div>
                </div>

                <!-- Bottom -->
                <div class="bottomMov">
                    Quitar
                </div>
            </li>
        </ul>
    </div>


    <!-- Content Footer -->
    <div class="interna contentFooterWallet cerrar" *ngIf="chanelType === 'wallet'">
        <button (click)="hideToggle('selectedMovComp')"> Cerrar </button>
    </div>
    <!-- Termina Footer Conten-->

</div>
<!-- Termina Selected Moves -->

<!-- Content Filters -->
<div id="filtersComp" class="contentFilters dNone">

    <!-- Header Filters-->
    <div class="headerFilters">
        <span>Filtrar movimientos</span>
        <div class="tooltipButton" (click)="showTooltip($event,2)"></div>
    </div>

    <!-- Down Filters -->
    <div class="downFilters">
        <!-- Content -->
        <p class="light">Elija el corte donde se encuentra el movimiento a aclarar.</p>
        
        <!-- Title -->
        <h1 class="black normal"><span class="dInlineB"></span>FILTRAR POR FECHA DE CORTE</h1>
        
        <!-- Filtros -->
        <ul class="listaFiltros" >
            <li *ngFor="let item of globalMoves; let index = index">
                <input  [checked]="filterNameApply === 'extract-'+index" value="index" type="radio" id="extract-{{index}}" name="extract-group">
                <label id="extractLabel-{{index}}"  (click)="isFiltered=true; filterNameApply = 'extract-'+index; enable = true; generateFilterMoves(globalMoves[index],index);filterName=getMonthName(index)" [innerHtml]="getMonthName(index)"></label>
                <label for ="extract-{{index}}"></label>
            </li>
        </ul>
    
    </div>
    <!-- Termina Down Filters -->

    <!-- Content Footer -->
    <div class="interna" [ngClass]="{'contentFooter': chanelType === 'default', 'contentFooterWallet': chanelType === 'wallet'}">
        <button (click)="hideToggle('filtersComp')" [ngClass]="{'inactive':!enable}"> Aceptar </button>
    </div>
    <!-- Termina Footer Conten-->

</div>
<!-- Termina Content Filters -->

<app-tooltip-tdd></app-tooltip-tdd>
