.btn-group {
  width: 99%;
  text-align: center;

  @include respond-to('small'){
    width: 70%;
  }
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: $main-color !important;
    border-color: $darkest-main-color !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
  background-color: $white !important;
  border-color: $disabled-color !important;
  height: 40px;
  line-height: 40px !important;
  padding: 0 15px !important;
  vertical-align: middle !important;
  display: block;
  margin: 0 auto;
  width: 90% !important;
  max-width: 400px !important;
  font-size: 1em !important;
  font-weight: 400 !important;
  text-align: left !important;

  span {
    float: right !important;
    padding-top: 17px !important;
  }
}

.btn-secondary {
  &.full-width {
    width: 100% !important;
  }
}
