$main-color: #EC0000;
$base-color: #FFFFFF;
$font-primary-color: #1a1a1a;
$darkest-main-color: #cd0000;
$deep-red: #be0006;
$light-main-color: #dddddd;
$wallet-gray-light:#eeeeee;
$disabled-color: #c2c2c2;
$grey: #505050;
$aqua: #1bb3bc;
$light-grey: #878787;
$heavy-grey: #333333;
$title-grey: #4a4a4a;
$borders-color: #b1b1b1;
$green: #abc111;
$white: #ffffff;
$black: #000000;
$highlight-blue: #37b4bb;
$low-blue: #dff0f2;
$warning-color: #e39d3d;
$wine: #9e3667;
$card-grey: #FDFDFD;
$gradient-grey-final: #f2f2f2;
$pink: #ba7394;
$golden: #e59d27;
$history-orange: $golden;
$history-green: #9abc3c;
$history-grey: $grey;
$history-red: $main-color;
$transparent: transparent;
