<nav class="navbar navbar-fixed-top" style="max-width:100%;" *ngIf="!isHideNav && router.url==='/welcome'" >

  <!-- Sticky Header -->
  <div class="stickyHeader">

    <!-- Header Steps -->
    <div class="row headerSteps">
      <div class="step-bar">
        <div class="col-xs-2 noPadding" style="padding:0px;">
            <div class="step pull-left">1</div>
        </div>

        <div class="col-xs-8 noPadding" style="padding:0px;">
            <div class="title">Seleccione el movimiento a aclarar</div>
        </div>

        <div class="col-xs-2 noPadding" style="padding:0px;">
            <div class="step-number pull-right">1 de 3</div>
        </div>

        <div class="col-xs-12 noPadding" style="padding:0px;">
        
            <div class="progress">
              <div class="progress-bar highlight-blue" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" style="width:34%">
              </div>
            </div>

        </div>
      </div>
    </div>

    <!-- Header Selected Moves -->
    <div class="row headerSelectedMoves" *ngIf="dataProxyService.getChannel()=='default'">
      <!-- Texto -->
      <span>TARJETA</span>
      <!-- Boton Movimientos -->
      <div class="selectedMoves"  (click)="toggleMov()">
        <span>{{counter}}</span>
      </div>
    </div>

  </div>
  <!-- Termina Sticky Header -->

</nav>

<!-- Content Down -->
<div class="contentDown">

  <!-- Module Card -->
  <div class="moduleCard" *ngIf="dataProxyService.getCreditCardFullData() && dataProxyService.getChannel()=='default'">
      <div class="card-holder" >
        <div class="card">
          <div class="row">
            <div class="col-xs-2 logo"></div>
            <div class="col-xs-10">
              <div class="card-name">{{ dataProxyService.creditCardFullData.cardDesc }}</div>
              <div class="main-balance" [innerHTML]="dataProxyService.creditCardFullData.balance | customCurrency"></div>
              <div class="row subamounts">
                <div class="col-xs-12">
                  <span class="info-left dInline">Saldo actual</span>
                  <hr class="lineSD dInline" />
                  <span [innerHTML]="dataProxyService.creditCardFullData.cardNumber | maskingPan" class="info-left dInline"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Termina Module Card -->



  <!-- Module Search -->
  <div class=""  [ngClass]="{'paddingStepper': dataProxyService.getChannel()=='wallet'}">
      <div class="form-row align-items-center filter-bar">
        <div class="col-auto">
          <div class="mb-2 mb-sm-0" style="position:relative; height:48px;">
            <form #form="ngForm" (ngSubmit)="submitFilterForm($event)">
              
              <label for="inlineFormInputGroup" class="display_none">Buscar Movimientos</label>
              <input type="text" class="form-control " id="inlineFormInputGroup" 
                [ngClass]="{'inputSearchWallet': dataProxyService.getChannel()=='wallet','inputSearch': dataProxyService.getChannel()=='default'}"
                placeholder="Buscar movimiento..." 
                name="inlineFormInputGroup"
                (input)="filterByDesc($event.target.value)" 
                [(ngModel)]="filterDesc">
            </form>
            <div class="input-group-addon button-behaviour " 
            [ngClass]="{'filtersButtonWallet': dataProxyService.getChannel()=='wallet','filtersButton': dataProxyService.getChannel()=='default'}"
            (click)="toggleNav()">
            </div>
            <div class="selectedMovesWallet"  (click)="toggleMov()" *ngIf="dataProxyService.getChannel()=='wallet'">
                <span>{{counter}}</span>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Termina Module Search -->


</div>
<!-- Termina Content Down -->



<div class="container-fluid" *ngIf="router.url==='/welcome'" >
  <div class="row">
    <div class="col-xs-12 notice" [ngClass]="{'active': filterApply}">
      <p>Le informamos que los movimientos que por ahora se pueden aclarar solo son consumos en comercios (compras).</p>
    </div>



   <!-- Movimientos Filñtrados -->
   <div class="movFilters col-xs-12" [ngClass]="{'active': filterApply}">
    Transacciones filtradas
    <div class="iconF" [ngClass]="{'active': sfApply}" (click)="showFilterApply()">
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="filterApply col-xs-12" [ngClass]="{'active': sfApply}" (click)="filterByDesc(''); isFiltered=false">
    {{ filterName }}
  </div>
  </div>

  <div *ngIf="!isMovementsVisible && !dataProxyService.getDummyMode() && extract < userData.extracts.length" class="row text-center">
    <p >Cargando movimientos...</p>
  </div>
  <div class="row" *ngIf="dateArraysQuantity > 0">
    <div [ngClass]="{'moves-container': dataProxyService.getChannel()=='default', 'moves-containerWallet': dataProxyService.getChannel()=='wallet'}" >
      <ul class="moves-list">
        <ng-container *ngFor="let item of createRange(dateArraysQuantity); let currentElementIndex=index;">
          <div *ngIf="retrieveParsedDateFromPositionAt(currentElementIndex) != undefined">
            <li class="move-box date">
              <div class="line"></div>
              <div class="icon" style="background-image:none;"><span class="dot"></span></div>
              <div class="content contentDate" 
                [innerHTML]="retrieveParsedDateFromPositionAt(currentElementIndex) | customMovesDate"
                *ngIf=" dataProxyService.getChannel()=='default'"></div>
              <div class="content contentDate" 
                [innerHTML]="retrieveParsedDateFromPositionAtWallet(currentElementIndex)"
                *ngIf=" dataProxyService.getChannel()=='wallet'"></div>
            </li>
            <li class="move-box" *ngFor="let move of getMovements(currentElementIndex)" 
              [ngClass]="{'active': checkIfSelected(move.id, move.txrNumExtracto)}"
              id="move-{{ move.id }}">
                <div class="line"></div>
                <div class="icon-summary" (click)="handleItem(move, retrieveDateFromPositionAt(currentElementIndex), 'icon')"><span></span></div>
                <div class="content selectable-content">
                  <div class="boxed" (click)="handleItem(move, retrieveDateFromPositionAt(currentElementIndex), 'description')">
                    <p class="title" [innerHTML]="highlightTitle(move.txrComercio)"></p>
                    <div class="description">
                      <span class="amount" [innerHTML]="move.amount | customCurrency"></span>
                    </div>
                    
                    <div class="selection-mark">
                      Movimiento a aclarar
                    </div>
                    
                  </div>
                </div>
            </li>
          </div>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="row" *ngIf="dateArraysQuantity === 0 && isFirstLoad === false">
    <div class="col-xs-12 text-center">
      No tiene movimientos para aclarar.
    </div>
  </div>
  <div class="row" *ngIf="bottomReached">
    <div class="col-sm-12 text-center">
      <div class="more-moves">Cargar más movimientos</div>
      <div class="spacer"></div>
    </div>
  </div>
  <!-- Spacer to avoid footer overlap -->
  <div class="row">
    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>

  <div class="overlay" id="overlay" [ngClass]="{'open' : navToggle}">
    <div class="title">
        <div class="textFilter">Filtrar movimientos</div>
        <div class="tooltipButton" (click)="tooltipOpener($event, 0)"></div>
    </div>
    <div class="filters">
      <p>Elija el corte donde se encuentra el movimiento a aclarar.</p>
      <div class="spacer"></div>
      <div class="row">
        <div class="col-xs-12"  style="display: flex;align-items: center;">
          <div class="grayCalendar"></div>
          <div class="inner-content heavy">
            FILTRAR POR FECHA DE CORTE
          </div>
        </div>
        <div class="col-xs-12">
          <div class="list-separator"></div>
          <div class="form-row">
            <div class="col-xs-12">
              <div class="input-group mb-2 mb-sm-0" *ngIf="userData">
                <div *ngFor="let item of userData.extracts">
                   <input [(ngModel)]="selectedFilterValue" value="{{item.id}}" type="radio" id="extract-{{ item.id }}" name="extract-group">
                   <label id="extractLabel-{{ item.id }}" for="extract-{{ item.id }}" (click)="isFiltered=true;">{{ getFilterDateName(item.id) }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottomDiv">
      <div class="bottonAlign">
        <div class="col-xs-12 bottonWidth">
          <button type="button" class=" btn btn-block" (click)="showFilteredMovements(selectedFilterValue);toggleNav();" 
              [disabled]="selectedFilterValue==-9999 || !isFiltered"
              [ngClass]="{bottomButton: dataProxyService.getChannel()=='default', bottomButtonWallet: dataProxyService.getChannel()=='wallet'}">
              Continuar
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="overlay" id="overlay" [ngClass]="{'open' : movToggle}"> 
    <div class="nav-head" (click)="toggleMov()" *ngIf="dataProxyService.getChannel()=='default'"><span>Cerrar X</span></div>
    <div class="title">
        <div class="textFilter">Movimientos seleccionados</div>
        <div class="tooltipButton"  (click)="tooltipOpener($event, 1)"></div>
    </div>
    <div class="filters" *ngIf="counter==0">
      <p>No hay movimientos seleccionados</p>
    </div>
    <div  *ngIf="counter>0" [ngClass]="{'filters': dataProxyService.getChannel()=='default'}">
      <div [ngClass]="{'filters': dataProxyService.getChannel()=='wallet'}" >
        <p>Este es el resumen de los cargos que ha elegido para enviar a aclaración:</p>
      </div>
      <div class="row">
        <div [ngClass]="{'moves-container': dataProxyService.getChannel()=='default', 'moves-containerWallet': dataProxyService.getChannel()=='wallet'}" >
          <ul class="moves-list">
            <ng-container *ngFor="let item of selectedItems | reverse">
              <li class="move-box date">
                <div class="line"></div>
                <div class="icon" style="background-image:none;"><span class="dot"></span></div>
                <div class="content contentDate" 
                  [innerHTML]="retrieveParsedDate(item.key) | customMovesDate"
                  *ngIf=" dataProxyService.getChannel()=='default'"></div>
                <div class="content contentDate" 
                  [innerHTML]="retrieveParsedDate(item.key)"
                  *ngIf=" dataProxyService.getChannel()=='wallet'"></div>
              </li>
              <li class="move-box" *ngFor="let move of item.data">
                  <div class="line"></div>
                  <div class="icon-remove" (click)="selectedItemsSplit(move)" style="background-image:inherit !important;">
                    <span class="xIcon"></span>
                  </div>
                  <div class="content">
                    <div class="boxed">
                      <div class="bordereded" style="width:60%; display:inline-block; font-size:11px; padding:0px; vertical-align:top; font-weight:300; "  [innerHTML]="highlightTitle(move.txrComercio)"></div>
                      <div class="description">
                        <span class="amount" style="font-weight:400; " [innerHTML]="move.amount | customCurrency"></span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="dataProxyService.getChannel()=='default'" style="padding-top:15px;"></div>
                  <div *ngIf="dataProxyService.getChannel()=='wallet'" class="textRemove">
                    <a (click)="selectedItemsSplit(move)">Quitar</a>
                  </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
    <div class="body-footer-spacer" *ngIf="dataProxyService.getChannel()=='wallet'"></div>
    <div class="bottomDiv bottomGray" *ngIf="dataProxyService.getChannel()=='wallet'" >
      <div class="bottonAlign">
        <div class="col-xs-12 bottonWidth">
          <button type="button" class=" btn btn-block bottomButtonInverse" (click)="toggleMov()">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
