<!-- Content Steper -->
<div class="contentSteper">

  <!-- Info -->
  <div class="infoSteper vAlign" >
    <!-- Number -->
    <div class="numberStep" *ngIf="router.url!=='/questionnaireTDD' && router.url!=='/summaryTDD'">1</div>
    <div class="numberStep" *ngIf="router.url==='/questionnaireTDD'">2</div>
    <div class="numberStep" *ngIf="router.url==='/summaryTDD'">3</div>
    <!-- Type -->
    <div class="typeStep" *ngIf="router.url!=='/questionnaireTDD' && router.url!=='/summaryTDD'">Seleccione el movimiento a aclarar</div>
    <div class="typeStep" *ngIf="router.url==='/questionnaireTDD'">Responda el cuestionario</div>
    <div class="typeStep" *ngIf="router.url==='/summaryTDD'">Verifique su información</div>
    <!-- Counter -->
    <div class="counterStep" *ngIf="router.url!=='/questionnaireTDD' && router.url!=='/summaryTDD'">1 de 3</div>
    <div class="counterStep" *ngIf="router.url==='/questionnaireTDD'">2 de 3</div>
    <div class="counterStep" *ngIf="router.url==='/summaryTDD'">3 de 3</div>
  </div>

  <!-- Bar -->
  <div class="steperBar">
    <!-- Progress -->
    <div class="progressSteper step1" *ngIf="router.url!=='/questionnaireTDD' && router.url!=='/summaryTDD'"></div>
    <div class="progressSteper step2" *ngIf="router.url==='/questionnaireTDD'"></div>
    <div class="progressSteper step3" *ngIf="router.url==='/summaryTDD'"></div>
  </div>

</div>
<!-- Termina Content Steper -->
