<!-- Content Result -->
<div class="contentResult">
  <!-- Icon -->
  <span class="icon"></span>
  <h1 class="green big center">Su solicitud fue recibida</h1>
  <h2 class="green medium light center pSmall" [innerHtml] = "config.dateTime"></h2>

  <!-- Content Info Result -->
  <div class="infoResult">
   
    <!-- Thanks Text -->
    <p class="black xBig light center pTBMedium LHBig">&iexcl;Gracias por la espera,
      <span class="light toUC" [innerHtml] = "config.userFullName"></span>!
    </p>
    
    <!-- Movenment Text -->
    <p class="dark bold center xBig LHMedium" [innerHtml] = "config.clarificationLabel"></p>

    <!-- Instructions Text -->
    <p class="dark light center pTBMedium medium LHSmall" *ngIf = "config.requirementsResult && config.requirementsResult.length > 0">
      Para continuar con el proceso, envíe al correo<br />
      <span class="small bold ">aclaracionescomprastc@santander.com.mx</span><br/>
      la siguiente información:
    </p>

    <!-- Instructions Text -->
    <p class="dark light center pTBMedium medium LHSmall" *ngIf = "!config.requirementsResult">
        Llevaremos a cabo una investigación para<br />
        darle una pronta respuesta.
    </p>

    <!-- Requirements -->
    <div class="requirementsResult"  *ngIf = "config.requirementsResult">
      <ul>
        <li *ngFor = "let item of config.requirementsResult">
          {{item.value}}
        </li>
      </ul>
    </div>

    <!-- Warning -->
    <p class="mRed medium pTBMedium center LHSmall" *ngIf = "config.warning">
      Esta información deberá enviarla en máximo 5 días naturales,
      colocando en el asunto del correo el número de folio que le proporcionamos a continuación.
    </p>

    <!-- Card Result -->
    <div class="cardResult wLine" *ngIf = "config.cardNumber">
      <h3 class="dark medium light center toUC">NÚMERO DE TARJETA</h3>
      <h3 class="dark big center toUC pTMedium">**** **** **** 1234</h3>
    </div>

    <!-- Card Result -->
    <div class="cardResult wLine lastCR" *ngIf = "config.amount">
      <h3 class="dark medium light center toUC" [innerHtml]="config.amount.label"></h3>
      <h3 class="dark xBig center toUC pTSmall" [innerHtml]="config.amount.value | smallCents"></h3>
    </div>

    <!-- Instructions Text -->
    <p class="dark light center pTBMedium medium LHSmall" *ngIf = "config.sentEmailLetter">
        Le enviamos la carta acuse a la cuenta de correo que tiene registrada en <span class="regular" [innerHtml]="config.channel"></span>.
    </p>

    <!-- Card Result -->
    <div class="cardResult" *ngIf = "config.folios.national">
      <h3 class="dark medium light center toUC" [innerHtml]="config.folios.national.label"></h3>
      <h3 class="dark big bold center toUC pTSmall foliosLabel" *ngFor="let item of config.folios.national.values">{{item}}</h3>
    </div>

    <!-- Card Result -->
    <div class="cardResult" *ngIf = "config.folios.international">
      <h3 class="dark medium light center toUC" [innerHtml]="config.folios.international.label"></h3>
      <h3 class="dark big bold center toUC pTMedium foliosLabel" *ngFor="let item of config.folios.international.values">{{item}}</h3>
    </div>

    <!-- Instructions Text -->
    <p class="dark light center pTBMedium medium LHSmall" *ngIf = "config.opinionDate">
      La fecha compromiso para el dictamen final de su solicitud será a más tardar el:<br /><br /><br />
      <span class="big dark bold center">{{config.opinionDate}}</span>
    </p>
    
    <!-- Black Warning -->
    <p class="dark bold medium pTBMedium center LHSmall" *ngIf = "config.importantNote">
      Nota: Es importante señalar que si la aclaración
      es improcedente se realizará el cargo nuevamente a su tarjeta.
    </p>
    
    
  </div>
  <!-- Termina Conten Info  Result -->
</div>
<!-- Termina Content Result -->


  <!-- Content Footer -->
  <div class="interna finalizar contentFooterWallet" (click) = "finishApp($event)" *ngIf="channel === 'wallet'">
      <button (click)="hideToggle('selectedMovComp')"> Finalizar </button>
  </div>


  <div class="interna finalizar contentFooter" (click) = "finishApp($event)" *ngIf="channel === 'default'">
    <button (click)="hideToggle('selectedMovComp')"> Finalizar </button>  
  </div>
  <!-- Termina Footer Conten-->




