<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">


  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <%= htmlWebpackPlugin.files.webpackManifest %>
  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>

    
  <script src="/webpack-dev-server.js"></script>
  <% } %>
  <script type="text/javascript">
    // Tealium/GA data layers
    var data = {section: '',subsection1: '',subsection2: '',subsection3: '',pagename: '',userID: '',movement_id: '',
    got_card: '',commerce_interactions: '',clarification_reason: '',current_location: '',federal_entity: '',
    card_incident: '',loss_date: '',amount: '',funnel: '',process: '',card_number: '',search_movements: '',
    filter_movements: '',selected_movements: '',delete_selected_movements: '',select_movement_icon: '',select_movement_description: ''};
    data['filter_movements-cut_date'] = '';
    window.dataLayer = data;
    window.utag_data = data;
    window.Connect = window.Connect || {};

  // Google Analytics

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
  ga('create', '<%= htmlWebpackPlugin.options.gaid %>', 'auto');
  ga('send', 'pageview');

  //Tealium
   (function(a,b,c,d){
    a='//tags.tiqcdn.com/utag/santander/mx-aclaraciones/dev/utag.js';
    b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
    a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
  
    function hideTooltip(){
      var tooltip = document.getElementById('tooltip-box');
      var backdrop = document.getElementById('backdrop');
      backdrop.classList.add("tooltip-hide");
      tooltip.classList.add("tooltip-hide");
      backdrop.classList.add("tooltip-hide");
    }

    //Tooltips
    window.onscroll = function() {
      hideTooltip();
    } 
  </script>

</head>

<body id="body">
  <app-root>
    <div style="position:absolute; top:50%; left:50%; height:50%; margin-top:-148px; margin-left:-148px;">
      <img src="assets/img/general/loader.gif" alt="Cargando ..." />
    </div>
  </app-root>
  <div onmousedown="hideTooltip()" onclick="hideTooltip()" id= "backdrop" class="tooltip-backdrop tooltip-hide"></div>
  
  <div id="tooltip-box" class="tooltip-box tooltip-hide">
    <p id="tooltip-text"></p>
    <span id="flag-border" class ="flag-border"></span>
    <span id="flag-color" class ="flag-color"></span>
  </div>



</body>
</html>
