<!-- Content Steper -->
<div class="contentSteper">

  <!-- Info -->
  <div class="infoSteper vAlign" >
    <!-- Number -->
    <div class="numberStep" *ngIf="router.url!=='/questionary' && router.url!=='/summary'">1</div>
    <div class="numberStep" *ngIf="router.url==='/questionary'">2</div>
    <div class="numberStep" *ngIf="router.url==='/summary'">3</div>
    <!-- Type -->
    <div class="typeStep" *ngIf="router.url!=='/questionary' && router.url!=='/summary'">Seleccione el movimiento a aclarar</div>
    <div class="typeStep" *ngIf="router.url==='/questionary'">Responda el cuestionario</div>
    <div class="typeStep" *ngIf="router.url==='/summary'">Verifique su información</div>
    <!-- Counter -->
    <div class="counterStep" *ngIf="router.url!=='/questionary' && router.url!=='/summary'">1 de 3</div>
    <div class="counterStep" *ngIf="router.url==='/questionary'">2 de 3</div>
    <div class="counterStep" *ngIf="router.url==='/summary'">3 de 3</div>
  </div>

  <!-- Bar -->
  <div class="steperBar">
    <!-- Progress -->
    <div class="progressSteper step1" *ngIf="router.url!=='/questionary' && router.url!=='/summary'"></div>
    <div class="progressSteper step2" *ngIf="router.url==='/questionary'"></div>
    <div class="progressSteper step3" *ngIf="router.url==='/summary'"></div>
  </div>

</div>
<!-- Termina Content Steper -->
