<div class="modal-body loader">
  <div class="row">
    <div class="col-xs-12">
      <div class="title">{{ status.message }}</div>
      <div class="image">
        <p><img src="assets/img/general/loader-ring.gif" alt="Cargando ..." /></p>
      </div>
      <div class="caption">
        Esta pantalla se cerrará de forma<br>automática cuando el proceso termine.
      </div>
    </div>
  </div>
</div>