<app-steper-tdd></app-steper-tdd>
<app-alerts-tdd></app-alerts-tdd>

<div class="summaryContent">
  <!-- Card Component -->
  <app-card-tdd *ngIf="chanelType === 'default'"></app-card-tdd>
  
  <!--Selected Moves Section-->
  <div >
    <!--info of the moves-->
    <div class="row"  style="padding: 5px;">
        <div class="col-12">
            <p style="text-align: justify">Esta es la información para la aclaración, favor de revisar que sea correcta:</p>
        </div>
    </div>
    
    <div class="row" *ngFor="let move of storage.getFromLocal('multifolio')"  style="padding: 5px;">
      <div class="col-12 noPaddingTop">
        <div class="row moveInfo">
          <div class="col-8 noPaddingSides value">
            <p [innerHtml]="move.txrComercio"></p>
          </div>
          <div class="col-4 noPaddingSides description" [innerHtml]="move.amount | customCurrency">
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <!--Selected Moves Section-->
  <div >
    <!--info of the moves-->
    <div class="row"  style="padding: 5px;">
        <div class="col-12">
            <p style="text-align: justify">Estas son las respuestas que usted capturó en el cuestionario, favor de verificar:</p>
        </div>
    </div>
    <div *ngFor="let item of viewQuestions" class="row"  style="padding: 5px;">
      <div class="col-12 noPaddingTop">
        <div class="row moveInfo">
          <div class="col-5 noPaddingSides value">
            <p [innerHtml]="item.key"></p>
          </div>
          <div class="col-7 noPaddingSides description" [innerHtml]="item.value">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-tdd [enable]="true" 
  [buttonText]="'Confirmar'" (continueClarification)="executeContinue()">
</app-footer-tdd>