<app-steper></app-steper>


<div class="summaryContent">
  <!-- Card Component -->
  <app-card></app-card>
  
  <!--Selected Moves Section-->
  <div >
    <!--info of the moves-->
    <div class="row">
        <div  class="col-1"></div>
        <div class="col-10">
            <p align="justify">Esta es la información para la aclaración, favor de revisar que sea correcta:</p>
        </div>
    </div>
    <div class="row">
      <div  class="col-1"></div>
      <div class="col-10 noPaddingTop">
        <div class="row moveInfo">
          <div class="col-8 noPaddingSides value">
            <p>netflix</p>
          </div>
          <div class="col-4 noPaddingSides description">
            100.00 MXN
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div  class="col-1"></div>
      <div class="col-10 noPaddingTop">
        <div class="row moveInfo">
          <div class="col-8 noPaddingSides value">
            <p>netflix</p>
          </div>
          <div class="col-4 noPaddingSides description">
            100.00 MXN
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Selected Moves Section-->
  <div >
    <!--info of the moves-->
    <div class="row">
        <div  class="col-1"></div>
        <div class="col-10">
            <p align="justify">Estas son las respuestas que usted capturó en el cuestionario, favor de verificar:</p>
        </div>
    </div>
    <div class="row">
      <div  class="col-1"></div>
      <div class="col-10 noPaddingTop">
        <div class="row moveInfo">
          <div class="col-8 noPaddingSides value">
            <p>TARJETA EN SU PODER</p>
          </div>
          <div class="col-4 noPaddingSides description">
            SI
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div  class="col-1"></div>
      <div class="col-10 noPaddingTop">
        <div class="row moveInfo">
          <div class="col-8 noPaddingSides value">
            <p>INTERACTUÓ CON EL COMERCIO</p>
          </div>
          <div class="col-4 noPaddingSides description">
            SI
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div  class="col-1"></div>
      <div class="col-10 noPaddingTop">
        <div class="row moveInfo">
          <div class="col-8 noPaddingSides value">
            <p>MOTIVO</p>
          </div>
          <div class="col-4 noPaddingSides description">
            cargo duplicado
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div  class="col-1"></div>
      <div class="col-10 noPaddingTop">
        <div class="row moveInfo">
          <div class="col-8 noPaddingSides value">
            <p>DESCRIPCIÓN</p>
          </div>
          <div class="col-4 noPaddingSides description">
            esta es una prueba
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div  class="col-1"></div>
      <div class="col-10 noPaddingTop">
        <div class="row moveInfo">
          <div class="col-8 noPaddingSides value">
            <p>UBICACIÓN ACTUAL</p>
          </div>
          <div class="col-4 noPaddingSides description">
            fuera de la republica
          </div>
        </div>
      </div>
    </div>
  </div>
</div>