
<nav class="navbar navbar-fixed-top" style="max-width:100%;">
  <!-- Sticky Header -->
  <div class="stickyHeader">
    <!-- Header Steps -->
    <div class="row headerSteps">
      <div class="step-bar">
        <div class="col-xs-2 noPadding" style="padding:0px;">
            <div class="step pull-left">3</div>
        </div>
        <div class="col-xs-8 noPadding" style="padding:0px;">
            <div class="title">Verifique su información</div>
        </div>
        <div class="col-xs-2 noPadding" style="padding:0px;">
            <div class="step-number pull-right">3 de 3</div>
        </div>
        <div class="col-xs-12 noPadding" style="padding:0px;">
            <div class="progress">
              <div class="progress-bar highlight-blue" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="contentDown summary" style="max-width:100%;">
  <!-- Module Card -->
  <div class="moduleCard" style="padding-top:69px;" *ngIf="dataProxyService.getCreditCardFullData() && dataProxyService.getChannel()=='default'">
      <div class="card-holder" >
        <div class="card">
          <div class="row">
            <div class="col-xs-2 logo"></div>
            <div class="col-xs-10">
              <div class="card-name">{{ dataProxyService.creditCardFullData.cardDesc }}</div>
              <div class="main-balance" [innerHTML]="dataProxyService.creditCardFullData.balance | customCurrency"></div>
              <div class="row subamounts">
                <div class="col-xs-12">
                  <span class="info-left dInline">Saldo actual</span>
                  <hr class="lineSD dInline" />
                  <span [innerHTML]="dataProxyService.creditCardFullData.cardNumber | maskingPan" class="info-left dInline"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Termina Module Card -->

  <div [ngClass]="{'paddingStepper': dataProxyService.getChannel()=='wallet'}">
    <div class="spacer"></div>
    <div class="col-xs-10 col-xs-offset-1">
      <p style="text-align: justify;">Esta es la información para la aclaración, favor de revisar que sea correcta:</p>
    </div>
  </div>

  <div  *ngIf="totalItems > 0">
    <div class="col-xs-10 col-xs-offset-1">
      <div *ngFor="let item of moves; let currentElementIndex=index;">
        <div class="response" *ngFor="let move of moves[currentElementIndex][1]">
          <div class="response-left-middle" [innerHTML]="move.txrComercio"></div>
          <div class="response-right-middle" [innerHTML]="move.amount | customCurrencyPlain"></div>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </div>

  <div  *ngIf="dateArraysQuantity == 0">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <p>Lo sentimos, no hay resultados para mostrar.</p>
    </div>
  </div>

  <div>
    <div class="col-xs-10 col-xs-offset-1">
      <div class="spacer"></div>
      <p style="text-align: justify;">Estas son las respuestas que usted capturó en el cuestionario, favor de verificar:</p>
    </div>
  </div>

  <div >
    <div class="col-xs-10 col-xs-offset-1">

      <div class="response" *ngIf="questions && questions.hasCard != 0">
        <div class="response-left-long">
          Tarjeta en su poder
        </div>
        <div class="response-right-short" *ngIf="questions.hasCard == 1">
          Sí
        </div>
        <div class="response-right-short" *ngIf="questions.hasCard == 2">
          No
        </div>
        <div class="separator"></div>
      </div>

      <div class="response" *ngIf="questions.hasCard == 1">
        <div class="response-left-long">
          Interactuó con el comercio
        </div>
        <div class="response-right-short" *ngIf="questions.haveContact == '1'">
          Sí
        </div>
        <div class="response-right-short" *ngIf="questions.haveContact == '2'">
          No
        </div>
        <div class="separator"></div>
      </div>

      <div class="response" *ngIf="questions.haveContact == '1' && questions.motive != questions.defaultMotive">
        <div class="response-left">
          Motivo
        </div>
        <div class="response-right" [innerHTML]="questions.motive.title"></div>
        <div class="separator"></div>
      </div>

      <div class="response" *ngIf="questions.haveContact == '1' && questions.additionalComments.length > 0">
        <div class="response-left" *ngIf="questions.motive.key == 'IC-201' ||
                                          questions.motive.key == 'IC-206' ||
                                          questions.motive.key == 'IC-207' ||
                                          questions.motive.key == 'IC-202'">
          Descripción
        </div>

        <div class="response-left" *ngIf="questions.motive.key == 'IC-203'">
          Descripción
        </div>

        <div class="response-left" *ngIf="questions.motive.key == 'IC-205' ||
                                          questions.motive.key == 'IC-204'">
          Descripción
        </div>

        <div class="response-right" id="additionalComments" [textContent]="questions.additionalComments"></div>
        <div class="separator"></div>
      </div>

      <div class="response" *ngIf="questions.hasCard == 2">
        <div class="response-left">
          Qué sucedió con su tarjeta
        </div>
        <div class="response-right" [textContent]="questions.whatHappens.getTitle()"></div>
        <div class="separator"></div>
      </div>

      <div class="response" *ngIf="questions.lostDate != '' && questions.lostDate != 'Invalid date'">
        <div class="response-left">
          Fecha de robo o extravío
        </div>
        <div class="response-right" [textContent]="questions.lostDate">
        </div>
        <div class="separator"></div>
      </div>

      <div class="response" *ngIf="questions.state != questions.defaultState">
        <div class="response-left">
          Ubicación actual
        </div>
        <div class="response-right" [textContent]="questions.state"></div>
        <div class="separator"></div>
      </div>

    </div>
  </div>


  <!-- Spacer to avoid footer overlap -->
  <div>
    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>

  <footer>
    <div class="bottom-buttons">
      <div class="row content selected-items">
        <div class="col-xs-12">
          <button type="button" class="btn-block"  
          (debounceClick)="validatedQuestionnaire();"
          [disabled]="enablebtn == false"
          appDebounceClick
          [ngClass]="{next: dataProxyService.getChannel()=='default', nextWallet: dataProxyService.getChannel()=='wallet'}">
          Confirmar</button>
        </div>
      </div>
    </div>
  </footer>

</div>
<div style="display: none;">
  <img alt="Preload the image" src="assets/img/general/loader-ring.gif">
</div>